<div class="header">
    <p><span class="admin-title">UNICORN</span>admin</p>
</div>
<div class="content">
    <div *ngIf="!isValid" class="ui red segment">Data not valid</div>
    <form class="ui form">
        <div class="field">
            <label>Login</label>
            <input type="text" name="login" [(ngModel)]="login" (keyup.Enter)="signIn()">
        </div>
        <div class="field">
            <label>Password</label>
            <input type="password" name="password" [(ngModel)]="password" (keyup.Enter)="signIn()">
        </div>
    </form>
</div>
<div class="actions">
    <button class="ui button signin" (click)="signIn()" autofocus (keyup.Enter)="signIn()">SignIn</button>
</div>