@import "../../../global-style-variables.sass";

.gray_font
    color: gray;
    text-decoration: none;
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
.map 
  width: 40em;
  height: 15em;
  background: green;	
  
.ui input
    margin: 20px;
    margin-bottom: 0px;
    width: 250px;
    display: flex;

      
.ui form
    display: inline;

.container
    display: flex;
    justify-content: space-evenly;
.column
    display: flex;
    flex-direction: column;
.elem
    display: block;
.ui.basic.button
   box-shadow: 0 0 0 1px $primary_color;
   color:  $primary_color;
   background: none;
   padding: 10px;
   margin-top: 23px;
   width: 100px;
   margin-right: 0px;
   align-self: flex-end;