<div   *ngIf="user !== undefined"  class="container">
    <div class="column">
        <div class="ui input" *ngIf="user !== undefined">
            <div class="elem">
                <input type="text" [(ngModel)]="user.Name" name="name" placeholder="NAME">
                <input type="text" [(ngModel)]="user.surName" name="surname" placeholder="LASTNAME">
                <input type="text" [(ngModel)]="user.middleName" name="middlename" placeholder="MIDLENAME">
                <input type="text" [(ngModel)]="user.email" name="email" placeholder="EMAIL">
                <input type="text" [(ngModel)]="user.phone" name="phone" placeholder="PHONE">
            </div>
        </div>
        <div class="elem">
            <div class="ui left icon input">
                <i class="calendar icon" style="margin-left: 15px; margin-top: 10px;"></i>
                <input suiDatepicker [(ngModel)]="user.birthday" name="birthday" pickerMode="date" placeholder="PICK YOUR BIRTH">
            </div>
        </div>
    </div>
    <div class="column">
        <button class="ui basic button"><p style="color:#FF647A;">Save</p></button>
        <label class="gray_font">Your location: {{user.location}}</label>
        <div class="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" style="height: 16em;">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>