@import "../../../global-style-variables.sass";

.gray_font
    color: gray;
    text-decoration: none;
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: 2em;
.map 
  width: 31em;
  height: 20em;
  background: green;	
  margin-top: 5px;
  
.ui input
    margin: 20px;
    margin-bottom: 0px;
    width: 300px;
    display: flex;

.valid-error
    margin: 0 0 0 20px !important;
  
.ui form
    display: inline;

.container
    display: flex;
    justify-content: space-evenly;
.column
     display: flex;
     flex-direction: column;
.elem
    display: block;
.row
  display: flex;
  flex-direction: row;
  justify-content: center;
.ui.basic.button
   box-shadow: 0 0 0 1px $primary_color;
   color:  $primary_color;
   background: none;
   padding: 10px;
   width: 100px;
   height: 40px;
   margin-right: 0px;
   margin-top: 5px;
   align-self: center;
.ui.active.loading.button
   box-shadow: 0 0 0 1px $primary_color;
   color:  $primary_color;
   background: none;
   width: 100px;
   height: 40px;
