.gray_font
    color: gray;
    text-decoration: none;
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 15px;
    margin-top: 1.3em;
    margin-bottom: 1.3em;
.square 
  width: 40em;
  height: 20em;
  background: green;	
  
.ui input
    margin: 10px;
    display: flex;

      
.ui form
    display: inline;

.container
    display: flex;
    justify-content: space-evenly;
.column
    display: flex;
    flex-direction: column;
