
<!-- <div class="container">       -->
   <div class="ui input" style="display:block">
        <input type="text" value="{{user.firstName}}" placeholder="Name">
        <input type="text" value="{{user.lastName}}" placeholder="Lastname">
        <input type="text" value="{{user.middleName}}" placeholder="Middlename">
        <input type="text" placeholder="Email">
        <input type="text" placeholder="Phone">
    </div> 
     
      
      <div class="ui form">
        <div class="inline fields" style="margin-left:1em">

          <div class="field">
              <div class="ui radio checkbox">
                <input class="ui radio checkbox" type="radio" name="gender" checked="true">
                <label>Male</label>
              </div>
          </div>

          <div class="field">
            <div class="ui radio checkbox">
              <input type="radio" name="gender">
              <label>Female</label>
            </div>
          </div>      
        </div>
      </div>
    
       <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input suiDatepicker
                   ng-model="birthday"
                   pickerMode="date"
                   placeholder="Pick your birthday">
                   
       </div>
    <!-- </div> -->