.social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.social-buttons[hidden] {
    display: none !important;
}

.role-buttons {
    display: flex;
    justify-content: center;
}

.roles {
    margin-bottom: 10px;
}

.info-field {
    margin-bottom: 10px;
}

.gender-field {
    display: flex;
    flex-direction: column;
}

.gender-elem {
    margin-top: 7px;
}

.reg-btn {
    width: 140px;
    font-weight: normal;
    background-color: #ff8080;
    color: white;
}

.reg-btn:active {
    background-color: #ff8080;
    color: white;
}

.reg-btn:hover {
    background-color: #ff6666;
    color: white;
}

.reg-text {
    color: grey;
}

.addition-info {
    margin-top: 10px;
}

.sign-link:hover {
    color: #FF647A;
}

.reg-header {
    text-align: center;
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}

li {
    display: inline;
    margin-right: 18px;
}

li a {
    color: gray;
    font-family: 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
}

li a:hover {
    color: #FF647A;
    background-color: #FFFFFF;
    text-decoration: none;
}

a {
    cursor: pointer;
}

#custom {
    display: inline-block;
}

.question-lbl {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;
}

.question-lbl>label {
    font-weight: normal;
}