<div class="header">
    <p class="reg-header">REGISTRATION</p>
</div>
<div class="content" id="scroll-reg">
    <div class="social-buttons" *ngIf="!isLogged;else authorized">
        <button class="ui facebook button" [ngClass]="{'loading': floader, 'disabled': isLoading()}" (click)="loginWithFacebook()">
        <i class="facebook icon"></i>
        Facebook
      </button>
        <button class="ui google plus button" [ngClass]="{'loading': gloader, 'disabled': isLoading()}" (click)="loginWithGoogle()">
        <i class="google plus icon"></i>
        Google 
      </button>
        <button class="ui twitter button" [ngClass]="{'loading': tloader, 'disabled': isLoading()}" (click)="loginWithTwitter()">
        <i class="twitter icon"></i>
        Twitter
      </button>
    </div>

    <div *ngIf="error">
        <sui-message class="error">
            <div class="header">
                Error
            </div>
            <p>Unable to authorize user</p>
        </sui-message>
    </div>

    <div class="account-info" *ngIf="isBanned">
        <sui-message class="info">
            <div class="header">
                Your account is banned
            </div>
            <p>Contact with administration for details</p>
            <a (click)="createChat()"><i class="comment outline icon"></i> Open chat</a>
        </sui-message>
    </div>

    <ng-template #authorized>
        <div class="roles">
            <div class="question-lbl">
                <label><b>Who are you?</b></label>
            </div>
            <div class="ui basic buttons role-buttons">
                <button class="ui button" [ngClass]="{'active': roles['customer']}" (click)="selectRole('customer')">Customer</button>
                <button class="ui button" [ngClass]="{'active': roles['vendor']}" (click)="selectRole('vendor')">Vendor</button>
                <button class="ui button" [ngClass]="{'active': roles['company']}" (click)="selectRole('company')">Company</button>
            </div>
        </div>
    </ng-template>


    <app-register-user *ngIf="roles['customer']" [social]="currentUser" [modal]="modal" [location]="location"></app-register-user>
    <app-register-vendor *ngIf="roles['vendor']" [social]="currentUser" [modal]="modal" [location]="location"></app-register-vendor>
    <app-register-company *ngIf="roles['company']" [social]="currentUser" [modal]="modal" [location]="location"></app-register-company>
</div>