.social-buttons {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
}

.role-buttons {
    display: flex;
    justify-content: center;
}

.error-field {
    margin-bottom: 10px;
}

.gender-field {
    display: flex;
    flex-direction: column;
}

.gender-elem {
    margin-top: 7px;
}

.reg-btn {
    width: 140px;
    font-weight: normal;
    background-color: #ff8080;
    color: white;
}

.reg-btn:active {
    background-color: #ff8080;
    color: white;
}

.reg-btn:hover {
    background-color: #ff6666;
    color: white;
}

.reg-text {
    color: grey;
}

.addition-info {
    margin-top: 10px;
}

.sign-link:hover {
    color: #FF647A;
}

.reg-header {
    text-align: center;
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 14px;
    font-weight: normal;
}