.flex-header{
    display: flex;
    flex-direction: row;    
    justify-content: space-between;    
}

.flex-body{
    display: flex;
    flex-direction: row;    
    justify-content: space-around;    
}

.center{
    text-align: center;
}

#image-feature{    
    padding: 5px;
    margin: 0;
}