@import "../../../../global-style-variables.sass";


img
    object-fit: cover!important;

.flex-header
    display: flex;
    flex-direction: row;    
    justify-content: space-between;  

.flex-body
    display: flex;
    flex-direction: row;        

.flex-category
    display: flex;    
    align-items: center;
    flex-direction: column;
    text-align: center;     
    width: 100px; 
    margin: 5px 10px; 
    h5
        font-weight: 600 !important
        color: #666666 !important

.flex-category:hover
    margin: 0 10px;
    img
        width: 90px!important;
        height: 90px!important;    

.center
    text-align: center;

.image-category 
    padding: 5px;
    margin: 0;
    width: 80px!important;
    height: 80px!important;

.category-name
    margin-top: 1em!important;	   

.selected-category
    margin: 0 10px;
    img
        width: 90px!important;
        height: 90px!important;
    h5 
        font-weight: 900 !important
        color: black !important

.close-button
    margin-bottom: .5em!important;

label
    font-weight: bold;


.styled.fluid
    margin: 10px;
.ui.container.work-preview-title
    padding: 5px;
.three.column.container.row
    padding: 0px;

.work-icon
    width: 35px
    height: 35px

.work-name
    font-weight: bold
    font-size: 13px
    color: #666666

.work-desc
    font-weight: bold
    font-size: 12px
    color: #666666

.work-column
    margin-top: auto
    margin-bottom: auto
    
.flex-container
    display: flex!important

.left-marged
    margin-left: auto

.works-wrapper
    margin-left: 2%
    margin-right: 2%

.ui.active.button.main
    width: 200px;
    height: 41px;
    background: $primary-color;
    color: white;

.valid-error 
    color: #ff6666;
    font-size: 10px;
    position: absolute;

input.ng-dirty.ng-invalid.ng-touched 
    border-color: #ff8080;
    