<div class="ui container flex-header">
    <h2 class="ui header">{{company.name}}
        <div class="sub header">{{company.location.city}}
            <sui-rating class="star" [ngModel]="company.rating" [isReadonly]="true"></sui-rating>
            Reviews: {{company.reviews.length}}</div>
    </h2>
    <div class="center">
        <img class="ui avatar image" id="director-avatar" src={{company.avatar}}>
        <p>{{company.director}}</p>
    </div>
</div>
<div class="ui divider">
</div>
<div class="ui justified container">
    {{company.description}}
</div>
<div class="ui divider">
</div>
<div class="ui container">
    <div class="flex-body">
        <div *ngFor="let category of company.categories" class="item flex-category">
            <img class="ui tiny circular image image-category" src={{category.icon}}>
            <h4 style="margin: 5px 0 0 0;">
                <p>{{category.category}}</p>
            </h4>
        </div>
    </div>
</div>