<div class="ui container flex-header">
  <h2 class="ui header">{{company.name}}
    <div class="sub header">{{company.location}}
      <sui-rating class="star" [ngModel]="company.rating" [isReadonly]="true"></sui-rating>
      Reviews: {{company.reviews.length}}</div>
  </h2>
  <div class="center">
    <img class="ui avatar image" id="director-avatar" src= {{company.avatar}}>
    <p>{{company.director}}</p>
  </div>
</div>
<div class="ui divider">
</div>
<div class="ui justified container">
  {{company.description}}
</div>
<div class="ui divider">
</div>
<div class="ui container">
  <div class="flex-body">
    <div *ngFor="let feature of company.features" class="item flex-feature">      
        <img class="ui tiny circular image image-feature" src="../../../assets/images/square-image.png">
        <h4><p>{{feature}}</p></h4>      
    </div>
  </div>
</div>
