<div class="wrapper">
  <h1 class="color-main">Happy unicorn</h1>
  <div class="color-text slogan">
    <p>We can scratch your cat right now, because we can do it.</p>
  </div>
  <div class="search-container">
    <div class="item">
      <p class="color-second">What to do</p>
      <div class="ui input fill-horizontal">
        <input type="text" placeholder="Scratch a cat">
      </div>
    </div>
    <div class="item">
      <div class="flex-column">
        <p class="color-text">When do it</p>
        <div class="ui input fill-horizontal">
          <input type="text" placeholder="Now">
        </div>
      </div>     
    </div>  
    <button class="ui button">Search</button>  
  </div>
</div>
