.wrapper {
    padding: 0;
}

.main {
    background-image: url(../../../assets/images/cat_catch_up_1920x1080.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 0%;
}

.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 1080px;
}

.slogan-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: auto;
    margin: 50px 0px;
    /* max-width: 910px;
    margin: 100px 0px;
    padding: 0 40px; */
}

.slogan {
    /* width: 40%;   */
    width: auto;
    max-width: 510px;
    font-family: 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
}

.slogan h1 {
    color: #FF647A;
    font-size: 60px;
}

.slogan p {
    color: white;
    font-size: 40px;
}

.search-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap; 
    justify-content: space-around;
    align-items: flex-end;
    width: auto;
    max-width: 910px;
    margin: 50px 0;
    background-color: rgba(255,255,255,0.8);
    border-radius: 7px;
    border: 1px solid lightgray;
    font-family: 'Verdana', 'Calibri', 'Trebuchet MS', sans-serif;
}

.search-input {
    height: 45px;
}

.item-search {
    width: 300px;
    margin: 20px;
}

.item-date {
    width: 210px;
    margin: 20px;
}

.item-button {
    width: 210px;
    margin: 20px;
    display: flex;
    vertical-align: middle;
}

.separator {
    margin: 10px 0;
    border-right: 1px solid lightgray;
}

.fill-horizontal {
    width: 100%;
}

.flex-row {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.flex-column {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.datepicker {
    height: 45px;
}

.btn-search {
    width: 100%;    
    height: 45px;
    color: white;
    background-color: #FF647A;
    font-size: 16px; 
} 

.color-main {
    color: #FF647A;
}

.bg-color-main {
    background-color: #FF647A;
}

.color-text {
    color: gray;
}

/* ---------- Slider ----------- */

#slider {
    margin: 100px 0;
}

@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

body { margin: 0; } 
div#slider { overflow: hidden; }
div#slider figure img { width: 20%; float: left; }
div#slider figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; 
}

