<div class="wrapper">
  <h1 class="color-main">{{title}}</h1>
  <div class="color-text slogan">
    <p>{{slogan}}</p>
  </div>
  <div class="search-container">
    <div class="item-search">
      <p class="color-text">{{labelSearch}}</p>
       <div class="ui input fill-horizontal"> 
        <input class="search-input" type="text" placeholder="{{placeholderSearch}}" [(ngModel)]="searchText">
      </div>
    </div>
    <div class="item-date">
      <p class="color-text">{{labelDate}}</p>
      <div class="ui left icon input">
            <i class="calendar icon"></i>
            <input class="datepicker" placeholder="Now" suiDatepicker
                   [(ngModel)]="searchDate"
                   [pickerMode]="mode"
                   [pickerFirstDayOfWeek]="firstDayOfWeek"
                   [pickerUseNativeOnMobile]="false">
        </div>                                              
    </div>
    <div class="item-button"> 
      <button class="ui button bg-color-main btn-search" (click)="searchVendor()">{{labelButton}}</button>  
    </div>     
  </div>
  <popular-tasks></popular-tasks>
</div>
