@import "../../../global-style-variables.sass"

#admin-header
	font-family: 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
	margin-top: 60px;
	font-weight: bold;

#admin-header > p
	color: rgba(128, 128, 128, 0.59);
	font-size: 30px;

.admin-title
    color: gray;
    font-size: 50px;

.ui.segment.tab
    min-height: 80px;

.ui.segment.r-messages.tab
    padding: 0!important;

$small: 600px;
$medium: 745px;
$large: 750px;
$normal: 800px;

@mixin respond-to($media) 
  @if $media == handhelds 
    @media only screen and (max-width: $small) { @content; }
  @else if $media == medium-screens1 
    @media only screen and (min-width: $small + 1) and (max-width: $medium - 1) { @content; }
  @else if $media == medium-screens2
    @media only screen and (min-width: $medium) and (max-width: $large - 1) { @content; }
  @else if $media == medium-screens3
    @media only screen and (min-width: $large) and (max-width: $normal - 1) { @content; }
  @else if $media == wide-screens 
    @media only screen and (min-width: $normal) { @content; }

.ui.menu
  @include respond-to(handhelds) { font-size: 0.55rem!important ;}
  @include respond-to(medium-screens1) { font-size: 0.68rem!important ; }
  @include respond-to(medium-screens2) { font-size: 0.8rem!important ; }
  @include respond-to(medium-screens3) { font-size: 0.9rem!important ; }
  @include respond-to(wide-screens) { font-size: 1rem!important ; }
