<div class="ui grid container remove-margin-top-bottom">
    <div id="admin-header">
        <p><span class="admin-title">UNICORN</span> admin</p>
    </div>
    <div *ngIf="isLoggedIn" class="sixteen wide column container">
        <sui-tabset>
            <div class="ui pointing secondary menu">
                <a routerLink="/admin" [queryParams]="{tab: 'ban-list'}" class="item" suiTabHeader="1">ACCOUNTS</a>
                <a routerLink="/admin" [queryParams]="{tab: 'categories'}" class="item" suiTabHeader="2">CATEGORIES</a>
                <a routerLink="/admin" [queryParams]="{tab: 'feedback'}" class="item" suiTabHeader="3">FEEDBACK</a>
                <a routerLink="/admin" [queryParams]="{tab: 'messages'}" class="item" suiTabHeader="4">MESSAGES</a>
            </div>
            <div class="row">
                <div class="ui equal width grid container">
                    <div class="row">
                        <div class="container column">
                            <div class="ui segment" suiTabContent="1">
                                <app-ban-list></app-ban-list>
                            </div>
                            <div class="container column">
                                <div class="ui segment" suiTabContent="2">
                                    <app-categories></app-categories>
                                </div>
                            </div>
                            <div class="container column">
                                <div class="ui segment" suiTabContent="3">
                                    <app-feedback></app-feedback>
                                </div>
                            </div>
                            <div class="container column">
                                <div class="ui segment r-messages" suiTabContent="4">
                                    <app-messages></app-messages>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </sui-tabset>
    </div>
</div>