<div class="container">
    <div class="column">
        <h5>On Unicorn scince {{user.DateCreated | date:'mediumDate'}}</h5>
        <h4>Name</h4>
        <div class="description flex-style">
            <a class="ui label contact">
            {{user.Name}} {{user.SurName}} {{user.MiddleName}}
                </a>
        </div>
        <div class="ui divider"></div>
        <h4>Birthday</h4>
        <div class="description flex-style">
            <a class="ui label contact">
            {{user.Birthday | date:'shortDate'}}
                </a>
        </div>
    </div>
    <div class="column" style="padding-top: 58px">
        <h4>Phone</h4>
        <div class="description flex-style">
            <a class="ui label contact">
                <i class="colored call icon"></i> {{user.Phone}}
            </a>
        </div>
        <div class="ui divider"></div>
        <h4>Email</h4>
        <div class="description flex-style">
            <a class="ui label contact">
                <i class="colored mail icon"></i> {{user.Email}}
            </a>
        </div>
    </div>
    <div class="column" style="padding-top: 58px">
        <h4>Location</h4>
        <div class="map">
            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18">
                <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
            </agm-map>
        </div>
    </div>
</div>