<div class="container">
    <div class="column">
        <div class="column" style="padding-top: 30px;">
            <div class="ui form">
                <h5>&#160;On Unicorn since {{user.DateCreated | date:'mediumDate'}}</h5>
                <sui-rating [(ngModel)]="rating" [isReadonly]="true"></sui-rating>
                <a class="review-link">&#160;Reviews({{reviewsCount}})</a>
                <h4 style="margin-top:15px;">Name</h4>
                <a class="label" style="padding-top: 0px">{{user.Name}} {{user.SurName}} {{user.MiddleName}}
                     </a>
                <div class="ui divider" style="margin-top: 0px; margin-bottom: 10px;"></div>
                <h4>Birthday</h4>
                <a class="label" style="padding-top: 0px;">
            {{user.Birthday | date:'shortDate'}}
                </a>
                <div class="ui divider" style="margin-top: 0px; margin-bottom: 10px;"></div>
                <h4>Phone</h4>
                <a class="label" style="padding-top: 0px">
                    <i class="colored call icon"></i> {{user.Phone}}
                </a>
                <div class="ui divider" style="margin-top: 0px; margin-bottom: 5px;"></div>
                <h4>Email</h4>
                <a class="label" style="padding-top: 0px ">
                    <i class="colored mail icon "></i> {{user.Email}}
                </a>
            </div>
        </div>
    </div>
    <div class="column " style="padding-top: 30px;">
        <h4>Location</h4>
        <div *ngIf="map != undefined" class="map">
            <app-map [inputMap]="map"></app-map>
        </div>
    </div>
</div>