@import "../../../../global-style-variables.sass";

h5 
 color: grey;
.container
    display: flex;
    justify-content: space-evenly;
.column
    display: flex;
    flex-direction: column;
.map 
  width: 20em;
  height: 15em;
  background: green;	

.ui.label.contact
  margin: 0.5em;
  font-size: 13px;
  background: transparent;

.flex-header
  display: flex;
  justify-content: space-between;
  height: 3em;
  align-items: center;

.flex-header.title
  margin: 0.5em;
