<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Unicorn.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <applicationSettings>
    <Unicorn.Core.Properties.Settings>
      <setting name="Issuer" serializeAs="String">
        <value>UnicornAuthServer</value>
      </setting>
      <setting name="Audience" serializeAs="String">
        <value>UnicornAngularClient</value>
      </setting>
      <setting name="PrivateKey" serializeAs="String">
        <value>021bf657c2e986a04b9e43775253d5a7</value>
      </setting>
      <setting name="TokenLifeTime" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="EmailLogin" serializeAs="String">
        <value>bsa17.net@gmail.com</value>
      </setting>
      <setting name="EmailPassword" serializeAs="String">
        <value>Txe7TYkqT79LwDjn</value>
      </setting>
      <setting name="EmailSMTP" serializeAs="String">
        <value>smtp.gmail.com</value>
      </setting>
      <setting name="EmailPort" serializeAs="String">
        <value>587</value>
      </setting>
      <setting name="EmailSSL" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="AdminAccountId" serializeAs="String">
        <value>16</value>
      </setting>
    </Unicorn.Core.Properties.Settings>
  </applicationSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>