<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Unicorn.Core.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Unicorn.Core.Properties.Settings>
            <setting name="Issuer" serializeAs="String">
                <value>UnicornAuthServer</value>
            </setting>
            <setting name="Audience" serializeAs="String">
                <value>UnicornAngularClient</value>
            </setting>
            <setting name="PrivateKey" serializeAs="String">
                <value>021bf657c2e986a04b9e43775253d5a7</value>
            </setting>
            <setting name="TokenLifeTime" serializeAs="String">
                <value>10</value>
            </setting>
        </Unicorn.Core.Properties.Settings>
    </userSettings>
</configuration>