<div *ngIf="isReviewsEmpty && isLoaded" class="ui center aligned empty-header header">
    There are no reviews
</div>
<div *ngIf="!isLoaded" class="ui active inverted dimmer" style="z-index: 0;">
    <div class="ui text loader">Loading</div>
</div>
<div *ngIf="company !== undefined" class="ui vertically divided grid" id="main">
    <div *ngFor="let review of company.Reviews" class="row">
        <div class="sixteen wide column">
            <div class="row">
                <div class="ui grid">
                    <div class="row">
                        <div class="three wide column">
                            <div class="row">
                                <img class="ui tiny circular image" src="{{review.Avatar}}">
                            </div>
                            <div class="row" class="rate">
                                <sui-rating class="star" [isReadonly]=true name="rating" [(ngModel)]="review.Grade"></sui-rating>
                            </div>
                        </div>
                        <div class="ten wide column">
                            <p class="from"><a routerLink="/user/{{review.FromProfileId}}">{{review.From}}</a></p>
                            <p class="review-text">{{review.Description}}</p>
                            <p class="task"><strong>Review for work: </strong>{{review.WorkName}}</p>
                        </div>
                        <div class="three wide column">
                            <span class="date">{{review.Date|date:fullDate}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>