<div *ngIf="company !== undefined">
    <div class="ui medium comments" *ngIf="!isReviewsEmpty">
        <div *ngFor="let review of company.Reviews" class="comment">
            <a class="avatar">
                <img src={{review.Avatar}}>
            </a>
            <div class="content">
                <a class="author">{{review.From}}</a>
                <div class="metadata">
                    <div class="date">{{review.Date|date:fullDate}}</div>
                    <div class="rating"><i class="star icon"></i> {{review.Grade}} Faves </div>
                </div>
                <div class="text">{{review.Description}}</div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="isReviewsEmpty" class="no-reviews">
    There are no reviews
</div>