<form class="ui form book-form">
  <div class="field">
    <label>Choose work</label>
    <select class="ui fluid dropdown">
      <option value="1">Work type</option>
      <option value="2">Work type</option>
      <option value="3">Work type</option>
      <option value="4">Work type</option>
    </select>
  </div>
  <div class="field">
    <label>Data and time</label>
    <div class="ui left icon input">
      <i class="calendar icon"></i>
      <input suiDatepicker [(ngModel)]="book.date" name="date" [pickerUseNativeOnMobile]="false" placeholder="DATE">
    </div>
  </div>
  <div class="field">
    <label>Address</label>
    <input [(ngModel)]="book.address" name="address" placeholder="FRANKA, 12">
  </div>
  <div class="field">
    <label>Contact number</label>
    <input [(ngModel)]="book.contact" name="contact" placeholder="+380 (XXX) XXXXXX">
  </div>
  <div style="display: flex; justify-content: center;">
    <button class="ui button" type="submit" >ORDER</button>
  </div>  
</form>
