<div class="tabset-container">
    <sui-tabset>
    <div class="ui pointing secondary menu">
      <a class="item" suiTabHeader="1">Popular</a>
      <a class="item" suiTabHeader="2">Cleaning</a>
      <a class="item" suiTabHeader="3">Building</a>
      <a class="item" suiTabHeader="4">Nursing</a>
    </div>
    <div class="ui" suiTabContent="1">
      <div class="vendor-wrapper">
        <div *ngFor='let vendor of popularVendors' class="vendor">
          <a href="#">
            <div class="img-wrapper">
              <img src="{{vendor.imgUrl}}" />            
            </div>
            <p class="vendor-title">{{vendor.name}}<p>
          </a>
         </div> 
      </div>
    </div>
    <div class="ui" suiTabContent="2">
      <div class="vendor-wrapper">
        <div *ngFor='let vendor of cleaningVendors' class="vendor">
          <a href="#">
            <div class="img-wrapper">
              <img src="{{vendor.imgUrl}}" />            
            </div>
            <p class="vendor-title">{{vendor.name}}<p>
          </a>
         </div> 
      </div>
    </div>
    <div class="ui" suiTabContent="3">
      <div class="vendor-wrapper">
        <div *ngFor='let vendor of buildingVendors' class="vendor">
          <a href="#">
            <div class="img-wrapper">
              <img src="{{vendor.imgUrl}}" />            
            </div>
            <p class="vendor-title">{{vendor.name}}<p>
          </a>
         </div> 
      </div>
    </div>
    <div class="ui" suiTabContent="4">
      <div class="vendor-wrapper">
        <div *ngFor='let vendor of geriatricVendors' class="vendor">
          <a href="#">
            <div class="img-wrapper">
              <img src="{{vendor.imgUrl}}" />            
            </div>
            <p class="vendor-title">{{vendor.name}}<p>
          </a>
         </div> 
      </div>
    </div>
  </sui-tabset>  
</div>
