<div class="tabset-container" *ngIf="categories !== undefined && bestPerformers !== undefined">
    <sui-tabset>
        <div class="ui pointing secondary menu">
            <a class="item" suiTabHeader="1">Popular</a>
            <a class="item" suiTabHeader="2">{{categories[0].Name}}</a>
            <a class="item" suiTabHeader="3">{{categories[1].Name}}</a>
            <a class="item" suiTabHeader="4">{{categories[2].Name}}</a>
        </div>
        <div class="ui" suiTabContent="1">
            <div class="vendor-wrapper" *ngIf="bestPerformers !== undefined">
                <div *ngFor='let performer of bestPerformers; let i = index' class="vendor">
                    <a routerLink="/{{performer.Link}}">
                        <div class="img-wrapper">
                            <img src="{{performer.Avatar}}" />
                        </div>                    
                    <div class="per-name">
                        <div>
                            <span class="vendor-title">{{performer.Name}}</span>
                        </div>
                    </div>
                </a>
                    <div class="per-info">
                        <sui-rating class="star" [ngModel]="bestPerformers[i].Rating" [isReadonly]="true"></sui-rating>
                        <a routerLink="/{{performer.Link}}" [queryParams]="{tab: reviewsTab}">Reviews({{bestPerformers[i].ReviewsCount}})</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui" suiTabContent="2">
            <div class="vendor-wrapper" *ngIf="fperformers !== undefined">
                <div *ngFor='let performer of fperformers; let i = index' class="vendor">
                    <a routerLink="/{{performer.Link}}">
                        <div class="img-wrapper">
                            <img src="{{performer.Avatar}}" />
                        </div>
                    </a>
                    <div class="per-name">
                        <div>
                            <span class="vendor-title">{{performer.Name}}</span>
                        </div>
                    </div>
                    <div class="per-info">
                        <sui-rating class="star" [ngModel]="fperformers[i].Rating" [isReadonly]="true"></sui-rating>
                        <a routerLink="/{{performer.Link}}" [queryParams]="{tab: reviewsTab}">Reviews({{fperformers[i].ReviewsCount}})</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui" suiTabContent="3">
            <div class="vendor-wrapper" *ngIf="sperformers !== undefined">
                <div *ngFor='let performer of sperformers; let i = index' class="vendor">
                    <a routerLink="/{{performer.Link}}">
                        <div class="img-wrapper">
                            <img src="{{performer.Avatar}}" />
                        </div>
                    </a>
                    <div class="per-name">
                        <div>
                            <span class="vendor-title">{{performer.Name}}</span>
                        </div>
                    </div>
                    <div class="per-info">
                        <sui-rating class="star" [ngModel]="sperformers[i].Rating" [isReadonly]="true"></sui-rating>
                        <a routerLink="/{{performer.Link}}" [queryParams]="{tab: reviewsTab}">Reviews({{sperformers[i].ReviewsCount}})</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="ui" suiTabContent="4">
            <div class="vendor-wrapper" *ngIf="tperformers !== undefined">
                <div *ngFor='let performer of tperformers; let i = index' class="vendor">
                    <a routerLink="/{{performer.Link}}">
                        <div class="img-wrapper">
                            <img src="{{performer.Avatar}}" />
                        </div>
                    </a>
                    <div class="per-name">
                        <div>
                            <span class="vendor-title">{{performer.Name}}</span>
                        </div>
                    </div>
                    <div class="per-info">
                        <sui-rating class="star" [ngModel]="tperformers[i].Rating" [isReadonly]="true"></sui-rating>
                        <a routerLink="/{{performer.Link}}" [queryParams]="{tab: reviewsTab}">Reviews({{tperformers[i].ReviewsCount}})</a>
                    </div>
                </div>
            </div>
        </div>
    </sui-tabset>
</div>