<div class="ui container grid" style="min-height: 100px;">
    <div class="sixteen wide column" *ngIf="books !== undefined">
        <div id="empty-header" *ngIf="books.length == 0">
            <span>There are no tasks</span>
        </div>
        <div class="ui segment book-card stackable ui grid" *ngFor="let book of books">
            <div class="book-img two wide column">
                <img class="ui tiny circular image" src="{{book.Work.Icon}}">
            </div>
            <div class="book-info five wide column">
                <p>{{book.Work.Name}} <span align=right>{{book.Date | date: 'dd/MM/yyyy'}}</span></p>
                <p>{{book.Description}}</p>
            </div>
            <div class="customer-info five wide column">
                <p><a routerLink="/{{book.PerformerType}}/{{book.PerformerId}}">{{book.Performer}}</a></p>
                <p><i class="colored map pin icon"></i>{{book.Location.City}},&nbsp;{{book.Location.Adress}}</p>
            </div>
            <div class="book-actions four wide column">
                <div *ngIf="isRated(book.Id); else nonRated">
                    <p>
                        <sui-rating class="star" [isReadonly]="true" [ngModel]="book.Rating"></sui-rating>
                    </p>
                    <p><a class="rev-link" (click)="showReview(book.Id)">Review</a></p>
                </div>
                <ng-template #nonRated>
                    <span *ngIf="!isFinished(book.Id)">
                    {{getStatus(book.Id)}} &nbsp;&nbsp;
                    <span class="declined-lbl" (click)="showReason(book.DeclinedReason)" *ngIf="isReason(book)">Why?</span>
                    </span>
                    <a *ngIf="isFinished(book.Id)" class="ui button review-btn" (click)="openModal(book.Id)">Leave review</a>
                </ng-template>
            </div>
            <i class="remove icon red absolute-icon" *ngIf="isReason(book) && !isDeleting(book)" (click)="deleteDeclinedBook(book)"></i>
            <i class="notched circle loading icon red absolute-icon" *ngIf="isDeleting(book)"></i>
        </div>
    </div>
    <div *ngIf="books === undefined" class="ui active inverted dimmer">
        <div class="ui text loader">Loading</div>
    </div>
</div>
<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="ui comments content">
        <div class="comment">
            <a class="avatar">
                <img src="{{user.Avatar}}">
            </a>
            <div class="content">
                <a class="author">{{user.Name}}</a>
                <div class="text">
                    <sui-rating (click)="error = false" name="rating" [(ngModel)]="review.Grade" class="star" [isReadonly]="false"></sui-rating>
                    <span *ngIf="error" class="valid-error">* Required</span>
                </div>
            </div>
        </div>
        <form class="ui reply form" name="reviewForm" #reviewForm="ngForm">
            <div class="field">
                <textarea placeholder="LEAVE REVIEW" name="review" [(ngModel)]="review.Text" #taskreview="ngModel"></textarea>
            </div>
            <div class="save-btn">
                <a (click)="saveReview(context.id)" [ngClass]="{'loading': loader, 'disabled': reviewForm.invalid || loader}" class="ui basic button">
                    <p *ngIf="!loader" style="color:#FF647A;">Save</p>
                    <p *ngIf="loader">&nbsp;</p>
                </a>
            </div>
        </form>
    </div>
</ng-template>
<ng-template let-context let-modal="modal" #reasonModal>
    <div class="ui content">
        <form class="ui reply form">
            <div class="field">
                <textarea readonly name="reason">{{context.reason}}</textarea>
            </div>
        </form>
    </div>
</ng-template>