<div class="sixteen wide column" *ngIf="books !== undefined">
    <div class="ui segment" *ngIf="books.length == 0">
        <span id="empty-header">There are no tasks</span>
    </div>
    <div class="ui segment book-card grid" *ngFor="let book of books">
        <div class="book-img two wide column">
            <img class="ui tiny circular image" src="{{book.Work.Icon}}">
        </div>
        <div class="book-info five wide column">
            <p>{{book.Work.Name}} <span align=right>{{book.Date | date: 'dd/MM/yyyy'}}</span></p>
            <p>{{book.Description}}</p>
        </div>
        <div class="customer-info five wide column">
            <p>{{book.Performer}}</p>
            <p><i class="colored call icon"></i>somephone</p>
            <p><i class="colored map pin icon"></i>{{book.Location.City}},&nbsp;{{book.Location.Adress}}</p>
        </div>
        <div class="book-actions four wide column">
            <span>{{getStatus(book.Id)}}</span>
            <a *ngIf="isFinished(book.Id)" class="ui button review-btn" (click)="openModal()">Leave review</a>
        </div>
    </div>
</div>
<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="ui comments content">
        <div class="comment">
            <a class="avatar">
                <img src="{{user.Avatar}}">
            </a>
            <div class="content">
                <a class="author">{{user.Name}}</a>
                <div class="text">
                    <sui-rating class="star" [isReadonly]="false"></sui-rating>
                </div>
            </div>
        </div>
        <form class="ui reply form" name="reviewForm" #reviewForm="ngForm">
            <div class="field">
                <textarea required placeholder="LEAVE REVIEW" name="review" [(ngModel)]="rev" #taskreview="ngModel"></textarea>
                <div *ngIf="taskreview.invalid && (taskreview.dirty)" class="valid-error">* Required</div>
            </div>
            <a class="ui labeled submit icon button review-btn" [ngClass]="{'disabled': reviewForm.invalid}">
                <i class="icon edit"></i> Save review
            </a>
        </form>
    </div>
</ng-template>