@import "../../../global-style-variables.sass";

.ui.vertical.animated.button
   box-shadow: 0 0 0 1px $primary_color;
   background: none;

.book-card
    font-size: 13px
    color: #666666

.book-img
    margin: auto

#empty-header
    color: gray
    font-size: 15px

.book-info
    margin: auto

.book-info>p>span
    color: gray
    font-size: 11px
    text-decoration: underline

.customer-info
    margin: auto

.book-actions
    margin: auto
    text-align: center

.review-btn
    background-color: #ff8080
    color: white

.review-btn:hover
    background-color: #ff6666
    color: white