.confirm-div {
    display: flex;
    justify-content: center;
}

.valid-error {
    color: #ff6666;
    font-size: 10px;
    position: absolute;
}

input.ng-dirty.ng-invalid.ng-touched {
    border-color: #ff8080;
}

.reg-btn {
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    background-color: #ff8080;
    color: white;
}

.reg-btn:active {
    background-color: #ff8080;
    color: white;
}

.reg-btn:hover {
    background-color: #ff6666;
    color: white;
}

.error-field {
    margin-bottom: 10px;
}