#form-header>p
    font-size: 30px
    color: grey

#form-header
    margin-bottom: 20px
    text-align: center

.category-icon
	width: 30px!important;
	height: 30px!important;

.reg-btn 
    width: 100%;
    font-size: 16px;
    font-weight: normal;
    background-color: #ff8080;
    color: white;

.reg-btn:hover
    background-color: #ff8080;
    color: white;

#work-form
    display: flex
    flex-wrap: nowrap

.column-1,
.column-2
    width: 100%
    padding-left: 5%
    padding-right: 5%

.column-1
    padding-top: 20px
    background-color: #f2f2f2

.full-width
    width: 100% !important

.field
    margin-bottom: 25px

.column-2
    padding-top: 10px
    justify-content: space-around
    display: flex
    flex-direction: column

.adv-img
    margin-right: 20px

.adv-img>img
    width: 50px
    height: 50px

.adv-desc>p
    color: grey
    font-size: 13px
    
.advantage
    display: flex
    flex-direction: row
    flex-wrap: nowrap
    margin-bottom: 30px



    
