<!-- <div class="ui comments">
    <div *ngFor="let review of reviews" class="comment">
        <a class="avatar">
            <img src="{{review.Avatar}}">
        </a>
        <div class="content">
            <a class="author">{{review.From}}</a>
            <div class="metadata">
                <div class="date">{{review.Date|date:fullDate}}</div>
                <div class="rating"><i class="star icon"></i> {{review.Grade}} Faves </div>
            </div>
            <div class="text">{{review.Description}}</div>
        </div>
    </div>
</div> -->
<div *ngIf="reviews !== undefined" class="container">
    <div *ngIf="reviews.length > 0; else reviewsIsEmpty" class="ui vertically divided grid" id="main">
        <div *ngFor="let review of reviews" class="row">
            <div class="sixteen wide column">
                <div class="row">
                    <div class="ui grid">
                        <div class="row">
                            <div class="three wide column">
                                <div class="row">
                                    <img class="ui tiny circular image avatar" src="{{review.Avatar}}">
                                </div>
                                <div class="row" class="rate">
                                    <sui-rating class="star" [isReadonly]=true name="rating" [(ngModel)]="review.Grade"></sui-rating>
                                </div>
                            </div>
                            <div class="ten wide column">
                                <p class="from"><a routerLink="/user/{{review.FromProfileId}}">{{review.From}}</a></p>
                                <p class="review-text">{{review.Description}}</p>
                                <p class="task"><strong>Review for work: </strong>{{review.WorkName}}</p>
                            </div>
                            <div class="three wide column">
                                <span class="date">{{review.Date|date:fullDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <ng-template #reviewsIsEmpty>
        <div *ngIf="isReviewsEmpty && isLoaded" class="ui center aligned header">
            <span class="empty-header">There are no reviews</span>
        </div>
    </ng-template>
</div>
<div *ngIf="reviews === undefined" class="ui active inverted dimmer" style="z-index: 0;">
    <div class="ui text loader">Loading</div>
</div>
