<div class="user-header">
  <div class="ui small circular image">
    <img src="{{fakeUser.avatarUrl}}" />
  </div>
  <div class="user-title">
    <h3 style="display:inline">{{fakeUser.firstName}} {{fakeUser.surName}}</h3>
    <div style="display:inline" class="fileUpload btn btn-primary">
      <i class="photo icon"></i>
    <input type="file" class="upload" />
   </div>
  </div>
</div>

<sui-tabset>
  <div class="ui pointing secondary menu">
    <a class="item" suiTabHeader="1">Profile</a>
    <a class="item" suiTabHeader="2">Tasks</a>
    <a class="item" suiTabHeader="3">Messages</a>
    <a class="item" suiTabHeader="4">History</a>
  </div>
  <div class="ui segment" suiTabContent="1"><app-user-profile [user]="fakeUser"></app-user-profile></div>
  <div class="ui segment" suiTabContent="2"><app-user-tasks [user]="fakeUser"></app-user-tasks></div>
  <div class="ui segment" suiTabContent="3"><app-user-messages></app-user-messages></div>
  <div class="ui segment" suiTabContent="4"><app-user-history [user]="fakeUser"></app-user-history></div>
</sui-tabset> 
