<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.9/semantic.min.css">
<div class="avatar_layout">
  <img class="ui small centered circular image" src="http://автобокс72.рф/img/user.png">
</div>
<sui-tabset>
  <div class="ui pointing secondary menu">
    <a class="item" suiTabHeader="1">Profile</a>
    <a class="item" suiTabHeader="2">Tasks</a>
    <a class="item" suiTabHeader="3">Messages</a>
    <a class="item" suiTabHeader="4">History</a>
  </div>
  <div class="ui segment" suiTabContent="1"><app-user-profile></app-user-profile></div>
  <div class="ui segment" suiTabContent="2"><app-user-tasks></app-user-tasks></div>
  <div class="ui segment" suiTabContent="3"><app-user-messages></app-user-messages></div>
  <div class="ui segment" suiTabContent="4"><app-user-history></app-user-history></div>
</sui-tabset> 
