@import "../../../global-style-variables.sass";

.user-header

	display: flex;
	height: 200px;
	background: #d8d8d8;
	align-items: center;
	justify-content: center;
	flex-direction: column;

h3
   margin: 5px;
   font-size: 20px;
.user-title 
	text-align: center;
 
a
  font-size: 17px;
.ui small circular image

   align-self: center;

#main font

    text-decoration: none;
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    font-size: 10px;

.ui bottom attached segment

    display: flex;
    flex-direction: column;

.ui left icon input

     display: flex;
     flex-direction: row;

.ui form

   margin-left: 20px;

.ui small circular image
  padding-top: 15px;

      
.ui input

    margin: 10px;
    display: flex;
    flex-direction: row;
.color-main 
    color: #FF647A;
    

.fileUpload
    position: relative;
    overflow: hidden;
    margin: 10px;

.fileUpload input.upload 
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);