@import "../../../../global-style-variables.sass"

// .ui.button.new
// 	width: 14.6em;
// 	margin-left: -0.6em;
// 	text-align: center;
// 	background-color: $primary_color;
// 	color: white;
// 	&:hover
// 		box-shadow: 0 0 0 1px $primary_color;
// 		background-color: white;
// 		color: $primary_color;

.unpadded
	padding: 0!important;

.unpadded-top
	padding-top: 0!important;

.ui.button.new
	width: 14.6em;
	margin-left: -0.6em;
	text-align: center;
	background-color: white;
	color: $primary_color;
	box-shadow: 0 0 0 1px $primary_color;
	&:hover
		background-color: $primary_color;
		color: white;


.category-title
	display: flex;
	justify-content: space-between;
	border-bottom: 1px solid #d8d8d8;
	padding: 5px 25px 10px 25px;

.category-icon > img
	height: 2.5rem;
	width: 2.5rem;
	object-fit: cover;

.category-name
	width: 40%;
	display: flex;
	flex-direction: column;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;

.category-actions
	display: flex;
	align-items: center;

.edit .category-actions
	align-items: flex-start;
	padding-top: 1.7em;

.category-actions > .ui.button
	width: 7em;
	text-align: center;
	&.edit
		background-color: $primary_color;
		color: white;
		&:hover
			box-shadow: 0 0 0 1px $primary_color;
			background-color: white;
			color: $primary_color;
	&.remove
		box-shadow: 0 0 0 1px $primary_color;
		background-color: white;
		color: $primary_color;
		&:hover
			background-color: $primary_color;
			color: white;

.category-actions > .ui.button.save
	width: 14.6em;
	margin-left: -0.6em;
	text-align: center;
	background-color: $primary_color;
	color: white;
	&:hover
		box-shadow: 0 0 0 1px $primary_color;
		background-color: white;
		color: $primary_color;

.subcategory-list
	border-bottom: 1px solid #d8d8d8;
	padding-bottom: 15px;

.subcategory-list > .item
	display: flex;
	justify-content: flex-end;

.ui.right.floated.segment
	align-items: center;

.ui.right.floated.segment > h5
	margin: 0;

.subcategory-list > .item > .ui.right.floated.segment
	width: 80%;
	display: flex;
	justify-content: space-between;

.category-title.edit
	padding-bottom: 20px;

.category-title.edit > .ui.form
	width: 40%;

.category-title.edit .category-icon
	padding: 0!important;

.category-title.edit .category-icon > img
	width: 100px;
	height: 100px;

.subcategory.ui.form
	width: 100%;

.field.category-actions
	align-items: flex-end;

.field.category-actions > .ui.button.save
	margin: 0;

@media only screen and (max-width: 1199px)
	.ui.button.new.category
		width: 100%;
		margin: 0;

@media only screen and (max-width: 767px)
	.ui.grid>.stackable.stackable.row>.column, .ui.stackable.grid>.column.grid>.column, .ui.stackable.grid>.column.row>.column, .ui.stackable.grid>.column:not(.row), .ui.stackable.grid>.row>.column, .ui.stackable.grid>.row>.wide.column, .ui.stackable.grid>.wide.column
		padding-bottom: 0!important;
		padding-top: 0!important;
	.category-title.edit .ui.container.grid
		margin-left: 0!important;
		margin-right: 0!important;
	.field.category-actions
		justify-content: center;
	.field.category-actions .ui.button.save
		width: 100%;
	.category-title.edit .category-icon > img
		width: 4rem;
		height: 4rem;
	.category-title
		flex-wrap: wrap;
		padding-right: 0;
		padding-left: 0;
		justify-content: flex-start;
	.category-title .category-name
		margin-left: 15px;
	.category-title .category-actions
		justify-content: space-between;
		margin-top: 10px;
		width: 100%;
	.subcategory-list > .item > .ui.right.floated.segment
		width: 100%;
		flex-wrap: wrap;
	.subcategory-list > .item > .ui.right.floated.segment .ui.button
		width: 100%;
		margin-top: 10px;

$small: 600px;
$medium: 745px;
$large: 750px;
$normal: 800px;

@mixin respond-to($media) 
  @if $media == handhelds 
    @media only screen and (max-width: $small) { @content; }
  @else if $media == medium-screens1 
    @media only screen and (min-width: $small + 1) and (max-width: $medium - 1) { @content; }
  @else if $media == medium-screens2
    @media only screen and (min-width: $medium) and (max-width: $large - 1) { @content; }
  @else if $media == medium-screens3
    @media only screen and (min-width: $large) and (max-width: $normal - 1) { @content; }
  @else if $media == wide-screens 
    @media only screen and (min-width: $normal) { @content; }

p, h5, .ui.button, .ui.segment, .ui.segment .ui.button, .ui.segment label
	@include respond-to(handhelds) { font-size: 0.55rem!important ;}
	@include respond-to(medium-screens1) { font-size: 0.68rem!important ; }
	@include respond-to(medium-screens2) { font-size: 0.8rem!important ; }
	@include respond-to(medium-screens3) { font-size: 0.9rem!important ; }
	@include respond-to(wide-screens) { font-size: 1rem!important ; }
