<nav class="navbar">
    <ul>
        <li><a routerLink="/search" routerLinkActive="active">Search</a></li>
        <li><a routerLink="#" routerLinkActive="active">Vendors</a></li>
        <li *ngIf="!isLogged;else authorized"><a (click)="openModal()" routerLinkActive="active">Sign In</a></li>
        <ng-template #authorized>
            <li>
                <div class="dropdown">
                    <div class="ui small circular image" (click)="onShowDetails()">
                        <img class="userInfo" src="../../../assets/images/avatar.jpg">
                    </div>
                    <div class="dropdown-content" *ngIf="showDetails">
                        <div class="mainInfo">
                            <div class="ui small circular image smallAvatar">
                                <img src="../../../assets/images/avatar.jpg">
                            </div>
                            <div class="desc">{{fakeName}} {{fakeSurname}}</div>
                        </div>
                        <div class="ui fitted divider"></div>
                        <div class="signOut">
                            <a (click)="signOut()" routerLinkActive="active">Sign Out</a>
                        </div>
                    </div>
                </div>
            </li>
        </ng-template>
    </ul>
</nav>