navbar ul
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

nav li
    display: inline;
    margin-right: 18px;

nav li a
    color: gray;
    font-family: 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;

nav li a:hover
    color: #FF647A;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

a
    cursor: pointer;


.ui.small.image
    height: 30px;
    width: 30px;

.userInfo:hover
    cursor: pointer;

.dropdown
    display: inline-block;
    margin-right: -20px;

.notifications
    display: inline-block;

.dropdown-content
    display: block;
    position: fixed;
    background-color: rgba(255, 255, 255, 1.0);
    min-width: 270px;
    width: 360px;
    right: 0px;
    margin-top: 14px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

.desc
    padding: 15px 0;
    text-align: left;

.email
    color: #666;
    font-size: 12px;

.circular.bell.outline.icon
    margin-right: -10px;

.mainInfo
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

.content
    margin: 0 10px;

.content h5
    margin: 10px 0 0 0;

.accountButtons
    display: flex;
    flex-direction: row;

.signOut
    padding: 15px;
    margin: auto;
    width: 50%;
    text-align: center;

.mainInfo .ui.small.image
    height: 60px;
    width: 60px;
    margin: 15px 0px 15px 15px;

.ui.small.circular.image .profile-avatar
    object-fit: cover;
    height: 100%;
    width: 100%;

#profile-avatar
    object-fit: cover;
    height: 100%;
    width: 100%;

.notification-list
    max-height: 25em;
    overflow: auto;
    margin-bottom: 0;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
    h5
        font-size: 1rem!important;
        line-height: 1.28571429em!important;
    p
        margin: 0 0 1em;
        line-height: 1.4285em!important;

.ui.list /deep/ .item
    padding: 15px 0;

.notification-list .item
    &:hover
        background: rgba(251, 226, 230, 0.33)!important;
        color: black!important;
        cursor: pointer;

.notification-title
    display: flex;
    justify-content: space-between;
    margin-bottom: 7px;

.notification-title:hover
    color: grey


.notification-title p
    color: #666;
    font-size: 12px;

.notification-title h5
    margin: 0;
    width: 60%;

.item.header
    display: flex;
    justify-content: space-between;
    font-family: 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    color: gray;
    font-weight: bold;
    align-items: baseline;
    padding-left: 6.5em;
    padding-right: 1em;
    border-bottom: solid 1px #dededf;

.item.header i
    font-size: 15px;

.item.header h5
    width: auto;
    font-size: 20px;
    margin: 10px 10px 0px 10px;

.notifications-header
    padding-bottom: 10px;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
    line-height: 1.28571429em!important;

.notifications-placeholder
    text-align: center;
    height: 40px;
    color: #dededf;
    font-size: 15px;

.archive-all-btn
    &:hover
        background: rgba(251, 226, 230, 0.33)!important;
        color: black!important;
        cursor: pointer;

.archive-all-btn .ui.horizontal.divider
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 5px; 
    padding-bottom: 5px; 
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif!important;
    h5
        font-size: 1rem!important;
        line-height: 1.28571429em!important;