navbar ul
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

nav li
    display: inline;
    margin-right: 18px;

nav li a
    color: gray;
    font-family: 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif;
    text-decoration: none;
    text-transform: uppercase;

nav li a:hover
    color: #FF647A;
    background-color: #FFFFFF;
    text-decoration: none;
    text-transform: uppercase;

a
    cursor: pointer;


.ui.small.image
    height: 30px;
    width: 30px;

.userInfo:hover
    cursor: pointer;

.dropdown
    display: inline-block;
    margin-right: -20px;

.notifications
    display: inline-block;

.dropdown-content
    display: block;
    position: fixed;
    background-color: #f9f9f9;
    min-width: 200px;
    width: 205px;
    margin-left: -160px;
    margin-top: 16px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

.desc
    padding: 15px;
    text-align: center;

.circular.bell.outline.icon
    margin-right: -10px;

.item
    margin: 15px 0;

.mainInfo
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

.signOut
    padding: 15px;
    margin: auto;
    width: 50%;

.mainInfo .ui.small.image
    height: 50px;
    width: 50px;
    margin: 15px;