<div class="ui grid remove-margin-top-bottom">
  <div class="ten wide column settings-container">
      <div class="row remove-padding-top">
          <div class="ui grid">
              <div class="eight wide column remove-padding-bottom">
                <label>What to do</label>
              </div>
              <div class="eight wide column remove-padding-bottom">
                <label>When to do it</label>                  
              </div>
              <div class="four wide column ui input">
                <input type="text" placeholder="{{placeholderCategory}}" [(ngModel)]="searchCategory">
              </div>
              <div class="four wide column  ui input">
                <input type="text" placeholder="{{placeholderSubcategory}}" [(ngModel)]="searchSubcategory">
              </div>
              <div class="four wide column ui left icon input">
                  <i class="calendar icon"></i>
                  <input class="datepicker" placeholder="RIGHT NOW" suiDatepicker 
                          [(ngModel)]="searchDate" 
                          [pickerMode]="mode" 
                          [pickerFirstDayOfWeek]="firstDayOfWeek" 
                          [pickerUseNativeOnMobile]="false">
              </div>
              <div class="four wide column">
                <button class="ui button btn-search" (click)="searchVendor()">SEARCH</button>
              </div>
              <div class="sixteen wide column remove-padding-top">
                <sui-accordion class="fluid">
                  <sui-accordion-panel>
                    <div title>
                      <i class="filter icon"></i>
                      <label class="gray">Additional filters</label>
                    </div>
                    <div content>
                      <div class="ui grid container segment">
                        <div class="six wide column remove-padding-bottom">  
                            <div class="ui icon input">                        
                              <input type="text" placeholder="COMPANY NAME" [(ngModel)]="searchCategory">
                              <i class="search icon"></i>
                            </div>
                        </div>
                        <div class="four wide column remove-padding-bottom">  
                            <div class="ui checkbox">
                              <input type="checkbox" name="example">
                              <label class="checkbox-position">Only with reviews</label>
                            </div>
                          </div>            
                        <div class="six wide column remove-padding-bottom">
                          <sui-multi-select [(ngModel)]="selCat"
                                            [options]="filterCat"                                            
                                            [maxSelected]="5"
                                            icon="list"
                                            placeholder="CATEGORIES"
                                            #select>
                            <div class="ui icon search input">
                                <i class="search icon"></i>
                                <input suiSelectSearch type="text" placeholder="Search options...">
                            </div>
                            <div class="divider"></div>
                            <div class="header">
                                <i class="list icon"></i>
                                Categories
                            </div>
                            <div class="scrolling menu">
                                <sui-select-option *ngFor="let o of filterCat" [value]="o">{{o}}</sui-select-option>
                            </div>
                          </sui-multi-select>
                        </div>                                    
                        <div class="sixteen wide column remove-padding-top">
                          <button class="ui button button-right" (click)="searchVendor()">APPLY</button>
                        </div>
                      </div>
                    </div>
                  </sui-accordion-panel> 
                </sui-accordion>     
              </div>
              <div class="twelve wide column remove-padding-top">
                <h5 class="ui header">                  
                  <div class="content">
                    <i class="sort content descending icon"></i>
                    Sort by
                    <sui-select class="inline" [(ngModel)]="selectedRange">
                      <div class="header">Type</div>
                      <sui-select-option value="rating"></sui-select-option>
                      <sui-select-option value="name"></sui-select-option>
                      <sui-select-option value="foundation"></sui-select-option>
                    </sui-select>
                  </div>
                </h5>
              </div>
              <div class="four wide column remove-padding-top">
                <h5 class="ui header">                  
                  <div class="content">
                    <i class="sort icon"></i>
                    Order
                    <sui-select class="inline" [(ngModel)]="selectedRange2">
                      <div class="header">Type</div>
                      <sui-select-option value="ascending"></sui-select-option>
                      <sui-select-option value="descending"></sui-select-option>
                    </sui-select>
                  </div>
                </h5>              
              </div>
          </div>
      </div>
      <div class="ui divider"></div>
      <div *ngIf="companies" class="ui grid">
        <div class="three column row remove-padding-top">
          <div class="column cell" *ngFor="let company of companies.slice((selectedPage - 1) * pageSize, selectedPage * pageSize)">
            <a href="/company/{{company.Id}}" class="ui medium image">
              <img class="ui fluid image" src="{{company.Avatar}}"/>
              <div class="row">
                <!-- <h3>{{company.Name}} ({{company.FoundationDate.getFullYear()}})</h3> -->
                <h3>{{company.Name}}</h3>
              </div>
              <div class="row">
                <h4>{{company.Location.City}}, {{company.Location.Adress}}</h4>
              </div>
              <!-- <div class="categories-container">
                <h5 *ngFor="let category of company.Categories">{{category.Name}}</h5>
              </div>
              <div class="ui grid">
                <div class="three column row">
                  <div class="column">
                    <sui-rating class="star" [ngModel]="company.Rating" [isReadonly]="true"></sui-rating>
                  </div>
                  <div class="column">                      
                    {{company.Reviews.length}} reviews 
                  </div>
                  <div class="column">                      
                    {{company.Vendors.length}} vendors
                  </div>
                </div>
              </div> -->
            </a>
          </div>
        </div>
      </div>
      <div *ngIf="companies.length > 12" class="flex-centered"> 
        <sui-pagination [collectionSize]="companies.length"
                        [pageSize]="pageSize"
                        [maxSize]="maxSize"
                        [hasEllipses]="hasEllipses"
                        [(page)]="selectedPage">
        </sui-pagination>     
      </div> 
  </div>
  <div class="six wide column">
    <div class="row">
      <div class="map-container">
        <ngui-map class="map" zoom="14" center="Brampton, Canada">
          <marker *ngFor="let marker of markers" 
              [position]="marker.pos"
              [label]="marker.title"
              [title]="marker.title"></marker>
        </ngui-map>
      </div>
    </div>
  </div>
</div>
