@import "../../../global-style-variables.sass";

.ui.grid
    // color: gray;

.settings-container
    padding-top: 35px !important;
    padding-left: 45px !important;
    padding-right: 15px !important;

.calendar.icon
    margin-left: 10px !important;

.ui.active.button.main
  background: $primary-color;
  color: white;

.ui.active.button.secondary
  background: transparent;
  color: $primary-color;
  border: solid 1px $primary-color;
  margin-right: 10px;

.button-right
    float: right;

.search-btn-div
    display: flex;
    justify-content: flex-end;

.search-btn-div > button
    width: 48%;
    height: 38px;

.active-filters
    border: 1px solid $primary-color;
    border-radius: 5px;
    padding: 3px 5px;
    background-color: $primary-color;
    color: white;

.ui.divider
    margin-left: 0 !important;
    margin-right: 0 !important;

.padding-top
    padding-top: 22px !important;

.margin-left
    margin-left: 10px;

.margin-right
    margin-right: 10px;

.margin-height
   margin: 5px 0; 

.align-right
    float: right;

.full-width
    width: 100%;

.rating-container
    display: flex;
    flex-direction: row;

.distance-container
    display: flex;
    flex-direction: row;
    justify-content: space-between;

.slider
    width: 90% !important;

.rating-box
    width: 120px;

sui-multi-select
    padding-left: 0 !important;
    
.cell
    height: 378px;
    margin-top: 20px !important;

.cell-title
    font-size: 16px;

.cell > a
    color: black;

.cell-info > p
    margin: 5px 0;

.ui.medium.image
    width: 100%

.ui.fluid.image
    height: 260px;
    border: 1px solid #E5E5E5;
    object-fit: cover;

h3, h4, h5
    color: gray;

h3
    margin-top: 5px;

.categories-container
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 5px 0;

.category
    margin: 0 2px;
    padding: 2px 8px;
    border: 1px solid lightgray;
    border-radius: 5px;
    color: gray;

.categories-container h5
    margin: 0 5px 0 0;

.flex-centered
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;

.map-container 
    position: fixed;
    right: 20px;
    top: calc(20px + #{$header-height});
    width: 34%;    
    height: calc(100vh - 40px - #{$header-height} - #{$footer-height} - #{$separator-height} - #{$separator-margin});;    
    background-color: gray;

.map
    height: 100%;

#search-panel
    position: sticky;
    z-index: 1;
    background: white;
    top: calc(#{$header-height} - 5px);

.settings-container
    padding-top: 0!important;

.map-marker
    font-weight: bold;
    background-color: white;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;

.active-marker
    border: 2px solid red;
    position: relative;
    z-index: 1;

.location
    font-size: 13px;
    cursor: pointer;
    color: gray;
