@import "../../../global-style-variables.sass";

.search-wrapper 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

.companies-container 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 60%;
    height: auto;
    margin: 0 0 30px 0;

.filter-container 
    width: 100%;
    height: 100px;

.separator-horiz 
    width: 100%;
    margin: 10px;
    background-color: #DEDEDE;
    border-bottom: 2px solid #EFEFEF;

.companies 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    justify-content: space-around;
    margin: 20px;   

.page-container 
    margin: 0 auto;

.company 
    margin: 10px;
    width: 250px;
    height: 250px;
    color: gray;
    background-color: white;

.company img 
    width: 250px;
    height: 180px; 
    object-fit: cover;

.company-name 
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;

.company-detail 
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

.company-detail p 
    margin: 0;

.map-container 
    position: fixed;
    right: 20px;
    top: 188px;
    width: 38%;
    height: 60%;    
    background-color: gray;

.map 
    height: 100%;
