@import "../../../../global-style-variables.sass";

img
    object-fit: cover!important;

.ui.table
	margin-top: 1em!important;
	margin-bottom: 1em!important;

.select-option
	padding: 1.2em!important;
	&:hover
		background: rgba(251, 226, 230, 0.33)!important;
		color: black!important;

.ui.basic.button
	box-shadow: 0 0 0 1px $primary_color;
	color:  $primary_color;
	background: none;
	width: 11em;
	margin-bottom: 1.5em;
	min-height: 2.8em;

.ui.basic.button h5
	color: $primary-color;

.ui.basic.button.add
	padding: .78571429em .78571429em .78571429em;
	margin: 0 .25em 0 0;
	width: 7em;

.work-icon
	margin-top: 1.3em;

.category-icon
	width: 30px!important;
	height: 30px!important;

.form-flex
	display: flex;
	flex-direction: column;

.ui.table tbody tr
	&:hover
		background: rgba(251, 226, 230, 0.33)!important;
		color: black!important;