.flex-container
    display: flex;
    flex-direction: row;
    padding: .5em 1em 1em 1em;
    
.container > div    
    margin: 10px;

.add-work > div 
    margin: 10px; 

.container  
    flex-basis: 50%;

.add-work
    flex-basis: 50%;