<div class="ui container grid" *ngIf="company !== undefined">
    <div class="row">
        <div class="column">
            <table class="ui selectable padded single line table">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>Name</th>
                        <th>Category</th>
                        <th>Subcategory</th>
                        <th class="right aligned">
                            <button class="ui basic button add" (click)="openDetailedWindow()">
                                <h5>Add work</h5>
                            </button>
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let work of company.Works" (click)="selectWorksRow($event, work)">
                        <td>
                            <img *ngIf="work.Icon !== '' && work.Icon !== null" class="ui avatar image" src="{{work.Icon}}">
                            <img *ngIf="work.Icon === '' || work.Icon === null" class="ui avatar image" src="https://semantic-ui.com/images/wireframe/square-image.png">
                        </td>
                        <td>{{work.Name}}</td>
                        <td>{{work.Subcategory.Category.Name}}</td>
                        <td>{{work.Subcategory.Name}}</td>
                        <td class="right aligned">
                            <button class="ui icon button" (click)="deleteWork(work)">
                                <i class="remove icon"></i>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="ui divider" *ngIf="openedDetailedWindow"></div>
    <div class="right aligned" *ngIf="openedDetailedWindow">
        <button class="circular ui icon button" (click)="closeDetailedWindow()">
            <i class="remove icon"></i>
        </button>
    </div>
    <div class="two column container row" *ngIf="openedDetailedWindow">
        <div class="column">
            <form class="ui form">
                <div class="form-flex">
                    <div class="field">
                        <label>Name</label>
                        <input type="text" name="name" placeholder="WORK NAME" [(ngModel)]="work.Name" *ngIf="work !== null">
                    </div>
                    <div class="field">
                        <label>Description</label>
                        <textarea name="description" placeholder="WRITE SOMETHING ABOUT THIS WORK..." [(ngModel)]="work.Description" *ngIf="work !== null"></textarea>
                    </div>
                </div>
            </form>
        </div>
        <div class="column">
            <form class="ui form">
                <div class="field">
                    <ng-template let-option #optionCategoryTemplate>
                        <img class="ui avatar image category-icon" src="{{option.Icon}}">{{option.Name}}
                    </ng-template>
                    <label>Select a category</label>
                    <sui-select class="selection" [(ngModel)]="selectedCategory" [optionTemplate]="optionCategoryTemplate" (selectedOptionChange)="changeCategory()" name="selectCategory">
                        <sui-select-option class="select-option" *ngFor="let category of company.AllCategories" [value]="category">
                        </sui-select-option>
                    </sui-select>
                </div>
                <div class="field">
                    <ng-template let-option #optionSubcategoryTemplate>
                        {{option.Name}}
                    </ng-template>
                    <label>Select a subcategory</label>
                    <sui-select class="selection" [(ngModel)]="selectedSubcategory" [optionTemplate]="optionSubcategoryTemplate" name="selectSubcategory">
                        <sui-select-option class="select-option" *ngFor="let subcategory of subcategories" [value]="subcategory">
                        </sui-select-option>
                    </sui-select>
                </div>
                <div class="field">
                    <label>Select an icon for work</label>
                    <div class="ui segment" (mouseenter)="isDimmed = !isDimmed" (mouseleave)="isDimmed = !isDimmed">
                        <img *ngIf="work.Icon !== '' && work.Icon !== null" class="ui circular image work-icon" src="{{work.Icon}}">
                        <img *ngIf="work.Icon === '' || work.Icon === null " class="ui circular image work-icon" src="https://semantic-ui.com/images/wireframe/square-image.png">
                        <sui-dimmer [(isDimmed)]="isDimmed" [isClickable]="false" (click)="selectIcon()">
                            <h4 class="ui inverted header">Upload</h4>
                        </sui-dimmer>
                    </div>
                </div>

            </form>
        </div>
    </div>
    <div class="ui divider" *ngIf="openedDetailedWindow"></div>
    <div class="centered row" *ngIf="openedDetailedWindow">
        <button class="ui basic button" (click)="addOrSaveWork()" [ngClass]="{'loading':isLoaded}">
                        <h5 *ngIf="!isLoaded">Save</h5></button>
    </div>
</div>

<div *ngIf="company === undefined" class="ui active inverted dimmer" style="background-color: rgba(255,255,255,.85);z-index: 0;">
    <div class="ui text loader">Loading</div>
</div>