@import "../../../global-style-variables.sass";

img
    object-fit: cover!important;

.main-content
    width: 960px;
    margin: 0 auto;

div
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif!important;

.ui.segment
    margin-top: 0!important;

.ui.segment.tab
    min-height: 80px;
    
.ui.secondary.pointing.menu .item
    text-transform: uppercase;

.ui.grid > .row > .column
    padding-left: 1rem;
    padding-right: 1rem;

.without-padd
    padding-left: 0!important;
    padding-right: 0!important;

.ui.secondary.pointing.menu .active.item
    border-color: $primary-color;

#header
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; 
       

.ui.fluid.image
    object-fit: contain;   
    max-width: 960px;
    max-height: 250px;
    width: auto;
    height: auto;
