div{
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif!important;
}

.flex-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#tabset{
    flex-basis: 70%;
}

#order{
    flex-basis: 30%;
}