<div class="main-content">
    <div *ngIf="company !== undefined">
        <div class="sixteen wide column container">
            <div id="header" class="ui segment">
                <img class="ui fluid image" src={{company.Avatar}}>
            </div>
        </div>
        <div class="ui grid container">
            <div class="row">
                <div class="sixteen wide column container without-padd">
                    <sui-tabset>
                        <div class="ui pointing secondary menu">
                            <a class="item" suiTabHeader="1">General information</a>
                            <a class="item" suiTabHeader="2">Portfolio</a>
                            <a class="item" suiTabHeader="3" [isActive]="tabActive">Reviews</a>
                            <a class="item" suiTabHeader="4">Vendors</a>
                            <a class="item" suiTabHeader="5">Contacts</a>
                        </div>
                        <div class="row">
                            <div class="ui equal width grid container">
                                <div class="row">
                                    <div class="container column">
                                        <div class="ui segment" suiTabContent="1">
                                            <company-general-information></company-general-information>
                                        </div>
                                        <div class="ui segment" suiTabContent="2">
                                            <company-portfolio></company-portfolio>
                                        </div>
                                        <div class="ui segment" suiTabContent="3">
                                            <company-reviews></company-reviews>
                                        </div>
                                        <div class="ui segment" suiTabContent="4">
                                            <company-vendors></company-vendors>
                                        </div>
                                        <div class="ui segment" suiTabContent="5">
                                            <company-contacts></company-contacts>
                                        </div>
                                    </div>
                                    <div *ngIf="isUser||isGuest" class="six wide column">
                                        <div class="ui segment">
                                            <app-sign-block *ngIf="isGuest"></app-sign-block>
                                            <app-book *ngIf="!isGuest" [routePath]="routePath" [routeId]="routeid"></app-book>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </sui-tabset>
                </div>
            </div>
        </div>
    </div>
    <div *ngIf="company === undefined" class="ui active inverted dimmer" style="z-index: 0;">
        <div class="ui text loader">Loading</div>
    </div>
    <p></p>
</div>