<div class="sixteen wide column" *ngIf="books !== undefined">
    <div class="ui segment" *ngIf="books.length == 0">
        <span id="empty-header">There are no finished tasks</span>
    </div>
    <div class="ui segment book-card grid" *ngFor="let book of books">
        <div class="book-img two wide column">
            <img class="ui tiny circular image" src="{{book.Work.Icon}}">
        </div>
        <div class="book-info five wide column">
            <p>{{book.Work.Name}} <span align=right>{{book.Date | date: 'dd/MM/yyyy'}}{{getEndDate(book)}}</span></p>
            <p>{{book.Description}}</p>
        </div>
        <div class="customer-info five wide column">
            <p><a routerLink="/user/{{book.CustomerId}}">{{book.Customer}}</a></p>
            <p><i class="colored call icon"></i>{{book.CustomerPhone}}</p>
            <p (click)="openMap(book.Id)" class="mapInfo"><i class="colored map pin icon"></i>{{book.Location.City}},&nbsp;{{book.Location.Adress}}</p>
        </div>
        <div class="book-actions four wide column">
            <div *ngIf="isRated(book.Id); else nonRated">
                <p>
                    <sui-rating class="star" [isReadonly]="true" [ngModel]="book.Rating"></sui-rating>
                </p>
                <p><a *ngIf="book.Review" (click)="openModal(book.Id)">Review</a></p>
            </div>
            <ng-template #nonRated>
                <span>Waiting for review</span>
            </ng-template>
        </div>
    </div>
</div>
<ng-template let-context let-modal="modal" #mapModal>
    <div class="ui content">
        <app-map [inputMap]="map"></app-map>
    </div>
</ng-template>
<div class="ui active centered inline loader" *ngIf="books === undefined"></div>