<div class="container">
    <div class="chat-block">
        <div class="header">
            <div>
                {{dialog.ParticipantName}}
            </div>
            <div>
                <i class="remove icon close-icon" (click)="deleteSelectedVendor(vendor)"></i>
            </div>
        </div>
        <div class="under-chat-block" *ngIf="messages !== undefined && messages !== null && messages.length !== 0">
            <div class="messages" #messagesBlock>
                <div class="message-block" *ngFor="let message of messages" [ngClass]="{'grey-background': !message.IsReaded, 'normal-background': message.IsReaded}">
                    <div class="message" *ngIf="message.OwnerId === me" [ngClass]="{'loading':message.isLoaded}">
                        <div class="date-me">
                            {{message.Date|amTimeAgo}}
                        </div>
                        <div class="concrete-message me">
                            {{message.Message}}
                        </div>
                    </div>
                    <div class="message" *ngIf="message.OwnerId !== me">
                        <div class="date-him">
                            {{message.Date|amTimeAgo}}
                        </div>
                        <div class="concrete-message him">
                            {{message.Message}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-content no-messages" *ngIf="messages !== undefined && (messages === null || messages.length === 0)">
            No messages
        </div>
        <div *ngIf="dialog !== undefined && dialog !== null && messages === undefined" class="ui active inverted dimmer" style="z-index: 0;">
            <div class="ui text loader">Loading</div>
        </div>
        <div class="ui form" *ngIf="dialog !== undefined && messages !== undefined">
            <div class="field" style="display: flex;">
                <textarea #textArea (keydown)="onChange($event)" [ngStyle]="{'height.px': inputHeight}" class="prompt" type="text" placeholder="Type here..." [(ngModel)]="writtenMessage" style="display:inline">                        
                        </textarea>
                <div class="ui icon input">
                    <i class="talk outline link icon" (click)="onWrite()"></i>
                </div>
            </div>
        </div>
        <a name="send-button"></a>
    </div>
</div>