<div class="">
    <div class="ui form">
        <form name="customerForm" #customerForm="ngForm">
            <div class="field">
                <input required type="text" name="name" placeholder="FIRST NAME" [(ngModel)]="firstName" #name="ngModel">
                <div *ngIf="name.invalid && (name.dirty)" class="valid-error">* Required</div>
            </div>

            <div class="field">
                <input type="text" name="surname" placeholder="MIDDLE NAME (OPTIONAL)" [(ngModel)]="middleName" #surname="ngModel">
            </div>

            <div class="field">
                <input required type="text" name="lastname" placeholder="LAST NAME" [(ngModel)]="lastName" #lastname="ngModel">
                <div *ngIf="lastname.invalid && (lastname.dirty)" class="valid-error">* Required</div>
            </div>

            <div class="field">
                <div class="ui left icon input">
                    <i class="calendar icon"></i>
                    <input class="fluid" suiDatepicker required placeholder="BIRTHDAY" #date="ngModel" name="date" [(ngModel)]="birthday" [pickerMode]="mode" [pickerMaxDate]="getCurrDate()">
                </div>
                <div *ngIf="date.invalid && (date.touched)" class="valid-error">* Required</div>
            </div>

            <div class="field">
                <input required pattern="\S+@\S+\.\S+" type="text" name="email" placeholder="EMAIL" [(ngModel)]="email" #mail="ngModel">
                <div *ngIf="mail.invalid && (mail.dirty)">
                    <div *ngIf="mail.errors.required" class="valid-error">* Required</div>
                    <div *ngIf="mail.errors.pattern" class="valid-error">* Invalid mail</div>
                </div>
            </div>

            <div class="field">
                <input required pattern="^\+(?:[0-9]●?){6,14}[0-9]$" type="text" name="phone" placeholder="PHONE" [(ngModel)]="phone" #phonenumb="ngModel">
                <div *ngIf="phonenumb.invalid && (phonenumb.dirty)">
                    <div *ngIf="phonenumb.errors.required" class="valid-error">* Required</div>
                    <div *ngIf="phonenumb.errors.pattern" class="valid-error">* Invalid number</div>
                </div>
            </div>

            <div class="field">
                <input places-auto-complete id="autocomplete" [types]="['geocode']" placeholder="LOCATION" value={{location.City}} (place_changed)="placeChanged($event)" />
            </div>
            <!-- <div *ngIf="error" class="error-field">
            <sui-message class="error">
                <div class="header">
                    Error
                </div>
                <p>You must fill all fields</p>
            </sui-message>
        </div> -->
            <div class="field">
                <a align=center class="ui button reg-btn" [ngClass]="{'disabled': customerForm.invalid, 'loading': loader}" (click)="confirmRegister(customerForm)">REGISTER</a>
            </div>
        </form>
    </div>
</div>