<div class="flex-contacts">
  <div class="header" style="display: flex; justify-content: space-between; align-items: center;">
    <div>Our contacts</div>
    <div>
      <button class="ui active button"> <i class="comments icon"></i> START A CHAT </button>
    </div>
  </div>
  <div class="phones">
    <div class="header">Phone</div>
    <div class="description phone">
      <div style="margin-left: 0;">+1 415 670 9788</div>
      <div>+7 965 670 9788</div>
      <div>+3 805 070 9788</div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="emails">
    <div class="header">Email</div>
    <div class="description">
      <div>Email: turbocat_9000@gmail.com</div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="messangers">
    <div class="header">Messangers</div>
    <div class="description">
      <div>Skype: turbocat9000</div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="socials">
    <div class="header">Social</div>
    <div class="description">
      <div>Facebook: turbocat9000</div>
    </div>
  </div>
  <div class="ui divider"></div>
  <div class="map">
    <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18" style="height: 300px;">
      <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
    </agm-map>
  </div>
</div>
