@import "../../../../global-style-variables.sass";

.flex-contacts
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: fles-start;   

.flex-style
    display: flex; 
    justify-content: flex-start;
    flex-wrap: wrap;

.ui.active.button
    background: transparent;
    color: $primary-color;
    border: solid 1px $primary-color;
    font-size: 12px;
    width: 140px;
    height: 35px;

.map
    margin: 10px 0;
    width: 100%;

.header
    margin: 7px 0;
    font-weight: bold!important;
    font-family: "Verdana", "Century Gothic", "Calibri", "Trebuchet MS", sans-serif !important;
    font-size: 1rem!important;    

.ui.label.contact    
    font-size: 13px;
    background: transparent;     