@import "../../../../global-style-variables.sass";

.flex-contacts
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: fles-start;   

.phone
    display: flex; 
    justify-content: flex-start;

.phone div
    margin: 0 10px;

.ui.active.button
    background: $primary-color;
    color: #fff;
    margin: 5px;   

.map
    margin: 10px 0;

.contacts
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    margin: 10px;    

.header
    margin: 7px 0;
    font-weight: bold;