<div class="flex-contacts">
  <div id="contact-desc">
    Contact us to discuss your task and how we can help
  </div>
  <div id="phones">
    <p>+1 415 670 9788</p>
    <p>+7 965 670 9788</p>
    <p>+3 805 070 9788</p>
  </div>
  <div id="other-contacts">
    <p>Email: turbocat_9000@gmail.com</p>
    <p>Skype: turbocat9000</p>
    <p>Facebook: turbocat9000</p>
  </div>  
</div>

<div class="flex-buttons">
    <div>
      <button class="ui active button" (click)="openModal()"><i class="marker icon"></i> Find us </button>
    </div>  
    <div> 
        <button class="ui active button" (click)="openModal()"> <i class="comments icon"></i> Start a chat </button>
    </div> 
  </div>


<ng-template let-context let-modal="modal" #modalTemplate>
    <div class="header">Our office</div>
    <div class="content">
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="18">
            <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
        </agm-map>
    </div>
    <div class="actions">
      <!-- <button class="ui red button" (click)="modal.deny('denied')">Cancel</button> -->
      <button class="ui green button" (click)="modal.approve('approved')" autofocus>OK</button>
    </div>
  </ng-template>
