<div class="ui cards" id="portfolio" *ngIf="books !== undefined">
    <div class="ui card" *ngFor="let book of books; let i = index">
        <div class="content">
            <div class="right floated meta">{{book.Date | date: 'dd/MM/yyyy'}}</div>
            <img class="ui avatar image" src="{{book.Work.Icon}}"> {{book.Work.Name}}
        </div>
        <div class="content">
            {{book.Description}}
        </div>
        <div class="content">
            <sui-rating class="star" [isReadonly]="true" [ngModel]="book.Rating"></sui-rating>
            <span *ngIf="book.Review" class="center floated review"><a (click)="showReview(book.Id)">Review</a></span>
            <sui-checkbox name="hide" class="right floated" [(ngModel)]="book.IsHidden" (ngModelChange)="updateBook(book.Id)">Hide</sui-checkbox>
        </div>
    </div>
</div>
<div *ngIf="!isLoaded" class="ui active inverted dimmer" style="z-index: 0;">
    <div class="ui text loader">Loading</div>
</div>
<div *ngIf="books.length == 0">
    <p align=center style="margin-top: 25px">There are no portfolio works</p>
</div>