<div id="charts-main" *ngIf="analytics">
  <h4 align="center">Books accepted</h4>
  <div class="chart-wrap">
    <div class="chart-cl">
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme"
      [results]="booksAccepted"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
    </ngx-charts-line-chart>
    </div>
  </div>
  <h4 align="center">Books declined</h4>
  <div class="chart-wrap">
    <div class="chart-cl">
      <ngx-charts-line-chart
      [view]="view"
      [scheme]="colorScheme2"
      [results]="booksDeclined"
      [gradient]="gradient"
      [xAxis]="showXAxis"
      [yAxis]="showYAxis"
      [legend]="showLegend"
      [showXAxisLabel]="showXAxisLabel"
      [showYAxisLabel]="showYAxisLabel"
      [xAxisLabel]="xAxisLabel"
      [yAxisLabel]="yAxisLabel2"
      [autoScale]="autoScale"
      (select)="onSelect($event)">
      </ngx-charts-line-chart>
    </div>
  </div>
  <h4 align="center">Works</h4>
  <div class="chart-work">
    <div class="chart-cl" *ngIf="selectedTypeId === 1">
        <ngx-charts-pie-chart
        [view]="viewPie"
        [scheme]="colorSchemePie"
        [results]="popularWorks"
        [legend]="showLegendPie"
        [explodeSlices]="explodeSlices"
        [labels]="showLabels"
        [doughnut]="doughnut"
        [gradient]="gradient"
        (select)="onSelect($event)">
      </ngx-charts-pie-chart>
    </div>
    <div class="chart-cl" *ngIf="selectedTypeId === 2">
      <ngx-charts-bar-vertical
        [view]="viewPie"
        [scheme]="colorSchemeBar"
        [results]="confirmedWorks"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    <div class="chart-cl" *ngIf="selectedTypeId === 3">
      <ngx-charts-bar-vertical
        [view]="viewPie"
        [scheme]="colorSchemeBar"
        [results]="declinedWorks"
        [gradient]="gradient"
        [xAxis]="showXAxis"
        [yAxis]="showYAxis"
        [legend]="showLegend"
        [showXAxisLabel]="showXAxisLabel"
        [showYAxisLabel]="showYAxisLabel"
        [xAxisLabel]="xAxisLabel"
        [yAxisLabel]="yAxisLabel"
        (select)="onSelect($event)">
      </ngx-charts-bar-vertical>
    </div>
    <div class="work-form">
      <span>Calculate by</span>
      <div class="field">
        <sui-select class="selection"
          placeholder="CALCULATE BY"
          name="chart-select"
          (selectedOptionChange)="onTypeSelect()"
          [(ngModel)]="selectedType">
          <sui-select-option class="select-option" 
            *ngFor="let option of workOptions" 
            [value]="option.value">
          </sui-select-option>
        </sui-select>
      </div>
    </div>
  </div>
</div>
<div *ngIf="analytics === undefined" class="ui active inverted dimmer">
    <div class="ui text loader">Loading</div>
</div>