$primary-color: #FF647A

.colored
  color: $primary-color; 

.colored.call
  color: #7ac143;

.colored.skype
  color: #12A5F4;

.colored.telegram
  color: #0088cc;

.colored.facebook
  color: #3b5998;

.colored.vk
  color: #45668e;

.colored.linkedin
  color: #0077b5;

.colored.google.plus
  color: #dd4b39;

.ui.secondary.pointing.menu .active.item
    background-color: transparent;
    box-shadow: none;
    border-color: $primary-color;
    font-weight: 700;
    color: $primary-color;

