/* You can add global styles to this file, and also import other style files */

@import "../node_modules/angular-calendar/dist/css/angular-calendar.css";
@media only screen and (min-width: 1200px) {
    .ui.modal.small {
        position: fixed;
        top: 12%;
        width: 500px;
        margin: 0 0 0 -235px;
    }
}

.unread-msg {
    width: 10px;
    height: 10px;
    margin: 5px 10px;    
    background: #5bb0ff;
    border-radius: 10px;  
}


/* CALENDAR */

.cal-month-view .cal-day-number {
    font-size: 1.4em;
}

.cal-month-view .cal-day-cell.cal-today .cal-day-number {
    font-size: 2em;
}

.cal-cell.cal-day-cell.cal-weekend {
    background: rgba(255, 232, 232, 0.45);
}

.cal-week-view .cal-header.cal-weekend {
    background: rgba(255, 232, 232, 0.45);
}

.ui.toggle.checkbox .box:before,
.ui.toggle.checkbox label:before {
    background: rgb(217, 217, 217)!important;
}

@media only screen and (max-width: 600px) {
    #search-panel div.menu.transition {
        bottom: 100%!important;
        top: unset!important;
    }

    #search-bar div.menu.transition {
        bottom: 100%!important;
        top: unset!important;
    }
    
}

