@import "../../../global-style-variables.sass";

div
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif!important;

.main-content    
    width: 960px;
    margin: 0 auto;

.photo.icon
    font-size: 4em;
    line-height: 1;

.ui.segment
    padding: 0;
    border-radius: 0;
    position: relative;

.ui.segment.tab
    min-height: 80px;

#banner-loader
    position: absolute;
    top: 5px;
    right: 5px;

#header
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px; 

.ui.fluid.image
    object-fit: contain;
    width: auto;
    height: auto;
    max-width: 960px;
    max-height: 250px;

#banner-input
    display: none;

.ui.secondary.pointing.menu .item
    text-transform: uppercase;

.ui.grid>.row>.column
    padding-left: 0;
    padding-right: 0;
    

.ui.secondary.pointing.menu .active.item
    border-color: $primary-color;

.ui.dimmer
    background-color: rgba(0,0,0,.6);
    z-index: 0;