<div *ngIf="company !== undefined" class="ui grid container remove-margin-top-bottom">
    <div class="row remove-padding-top">
        <div class="sixteen wide column container">
            <div id="header" class="ui segment" (mouseenter)="isDimmed = !isDimmed" (mouseleave)="isDimmed = !isDimmed">
                <img class="ui fluid image" src={{company.Avatar}}>
                <!-- <sui-dimmer [(isDimmed)]="isDimmed" [isClickable]="false">
                    <h4 class="ui inverted header"><i class=" photo icon"></i></h4>
                </sui-dimmer> -->
                <label id="banner-loader" for="banner-input" class="ui icon button basic" [ngClass]="{'loading': uploading}">
                    <i class="icon up-color" [ngClass]="{'upload': !uploading}"></i>
                </label>
                <input type="file" id="banner-input" accept="image/*" (change)="bannerListener($event)">
            </div>
        </div>
    </div>
    <div class="ui grid container">
        <div class="row">
            <div class="sixteen wide column container without-padd">
                <sui-tabset>
                    <div class="ui pointing secondary menu">
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'info'}" class="item" suiTabHeader="1">EDIT</a>
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'portfolio'}" class="item" suiTabHeader="2">PORTFOLIO</a>
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'vendors'}" class="item" suiTabHeader="3" [isActive]="vendorsTabActive">VENDORS</a>
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'works'}" class="item" suiTabHeader="4" [isActive]="worksTabActive">WORKS</a>
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'messages'}" class="item" suiTabHeader="5" [isActive]="messagesTabActive">MESSAGES
                                <label *ngIf="unreadDialogCount > 0" class="unread-msg"></label>
                            </a>
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'contacts'}" class="item" suiTabHeader="6">CONTACTS</a>
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'calendar'}" class="item" suiTabHeader="7">CALENDAR</a>
                        <a routerLink="/company/{{company.Id}}/edit" [queryParams]="{tab: 'charts'}" class="item" suiTabHeader="8" (activate)="activateCharts()">ANALYTICS</a>
                    </div>
                    <div class="row">
                        <div class="ui segment" suiTabContent="1">
                            <app-company-main-information></app-company-main-information>
                        </div>
                        <div class="ui segment" suiTabContent="2">
                            <app-company-portfolio></app-company-portfolio>
                        </div>
                        <div class="ui segment" suiTabContent="3">
                            <app-company-vendors></app-company-vendors>
                        </div>
                        <div class="ui segment" suiTabContent="4">
                            <app-company-works></app-company-works>
                        </div>
                        <div class="ui segment" suiTabContent="5">
                            <app-company-messages></app-company-messages>
                        </div>
                        <div class="ui segment" suiTabContent="6">
                            <app-company-contacts></app-company-contacts>
                        </div>
                        <div class="ui segment" suiTabContent="7">
                            <app-company-calendar [accountId]="company.AccountId"></app-company-calendar>
                        </div>
                        <div class="ui segment chart" suiTabContent="8">
                            <app-company-charts></app-company-charts>
                        </div>
                    </div>
                </sui-tabset>
            </div>
        </div>
    </div>
</div>

<div *ngIf="company === undefined" class="ui active inverted dimmer" style="background-color: rgba(255,255,255,.85)">
    <div class="ui text loader">Loading</div>
</div>