<div class="flex-row">
    <div class="week-month-buttons">
        <div class="ui buttons">
            <div class="ui basic button" (click)="viewChange.emit('month')" [class.active]="view === 'month'">
                <p class="text-in-button">Month</p>
            </div>
            <div class="ui basic button" (click)="viewChange.emit('week')" [class.active]="view === 'week'">
                <p class="text-in-button">Week</p>
            </div>
        </div>
    </div>
    <div class="prev-next-buttons">
        <div mwlCalendarPreviousView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            <p class="text-in-button arrows"><i class="chevron left icon"></i></p>
        </div>
        <div>
            <h3>{{ viewDate | calendarDate:(view + 'ViewTitle'):locale }}</h3>
            <div class="ui basic button today" mwlCalendarToday [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
                <p class="text-in-button">Today</p>
            </div>
        </div>
        <div mwlCalendarNextView [view]="view" [(viewDate)]="viewDate" (viewDateChange)="viewDateChange.next(viewDate)">
            <p class="text-in-button arrows"><i class="chevron right icon"></i></p>
        </div>
    </div>
    <div class="calendar-settings">
        <div class="ui basic button prev-next" (click)="onClick()">
            <i class="settings icon"></i>
        </div>
    </div>
</div>
<br>