<p>
  login works!
</p>
<button class="ui button" (click)="loginWithGoogle()"><i class="google icon"></i>Use My Google Account</button>
<button class="ui button" (click)="loginWithFacebook()"><i class="facebook icon"></i>Use My Facebook Account</button>
<button class="ui button" (click)="loginWithTwitter()"><i class="twitter icon"></i>Use My Twitter Account</button>
<button class="ui button" (click)="loginWithGithub()"><i class="github icon"></i>Use My Github Account</button>

<button class="ui button" (click)="logOut()">Logout</button>