<div class="container" [ngStyle]="{'height.px': containerHeight}" *ngIf="dialogs !== undefined">
    <div class="r-dialogs-list">
        <div class="ui button" (click)="hideResponsiveSideBar()">
            <i class="list icon"></i>
        </div>
        <div *ngFor="let _dialog of dialogs">
            <div *ngIf="isHided(_dialog)===false" class="upper-user" (click)="onSelect(_dialog.Id)" [ngClass]="{'active': _dialog.Id === selectedId}">
                <div class="remove-block">
                    <i class="remove icon" (click)="deleteDialogModal(_dialog)"></i>
                </div>
                <div class="user" [ngClass]="{'active': _dialog.Id === selectedId}">
                    <img class="ui avatar image r-avatar" src="{{_dialog.ParticipantAvatar}}">
                    <div class="unread-msg" *ngIf="!_dialog.IsReadedLastMessage">
                    </div>
                </div>
            </div>
            <div *ngIf="isHided(_dialog)===false" class="ui divider"></div>
        </div>
    </div>
    <div *ngIf="sideBarEnabled" class="side-bar" (clickOutside)="clickOutsideSideBar()">
        <div class="header-sidebar">
            <div *ngIf="sideBarEnabled && windowWidth <= 800" class="ui button" (click)="hideResponsiveSideBar()">
                <i class="remove icon"></i>
            </div>
            <div class="ui fluid icon input dialog-search">
                <input type="text" [(ngModel)]="searchString" style="border-radius: 0!important;" (ngModelChange)="searchNewPartitipants()" placeholder="Search...">
                <i style="border-bottom: 0.5px solid #D5D0D0;" class="search icon"></i>
            </div>
        </div>
        <div class="users">
            <div *ngFor="let _dialog of filterDialogsByPartitipantName(searchString)">
                <div *ngIf="isHided(_dialog)===false" class="upper-user" (click)="onSelect(_dialog.Id)" [ngClass]="{'active': _dialog.Id === selectedId}">
                    <div class="remove-block">
                        <i class="remove icon" (click)="deleteDialogModal(_dialog)"></i>
                    </div>
                    <div class="user" [ngClass]="{'active': _dialog.Id === selectedId}">
                        <img class="ui avatar image" src="{{_dialog.ParticipantAvatar}}">
                        <div class="dialog-inf">
                            <div class="userName"> {{_dialog.ParticipantName}} </div>
                            <div class="add-inf">
                                <div class="lastMessageDate" *ngIf="_dialog.LastMessageTime !== null">
                                    {{_dialog.LastMessageTime|amTimeAgo}}
                                </div>
                                <div class="unread-msg" *ngIf="!_dialog.IsReadedLastMessage">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="isHided(_dialog)===false" class="ui divider"></div>
            </div>
            <p *ngIf="searchResults.length > 0" class="ui horizontal divider small header">
                <i class="plus icon"></i> Start a chat with
            </p>
            <div class="upper-user" (click)="createChat(partitipant)" *ngFor="let partitipant of searchResults">
                <div class="user">
                    <img class="ui avatar image" src="{{partitipant.Avatar}}">
                    <div class="dialog-inf">
                        <div class="userName"> {{partitipant.Name}} </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="chat-block">
        <div class="under-chat-block" *ngIf="messages !== undefined && messages !== null && messages.length !== 0">
            <div class="messages" #messagesBlock>
                <div class="message-block" *ngFor="let message of messages" [ngClass]="{'grey-background': !message.IsReaded, 'normal-background': message.IsReaded}">
                    <div class="message" *ngIf="message.OwnerId === ownerId" [ngClass]="{'loading':message.isLoaded}">
                        <div class="date-me">
                            {{message.Date|amTimeAgo}}
                            <i *ngIf="message.MessageId!=null" class="remove icon" (click)="deleteMessageModal(message)"></i>
                            <i *ngIf="message.MessageId==null" class="wait icon"></i>
                        </div>
                        <div class="concrete-message me">
                            {{message.Message}}
                            <div *ngIf="message.Files !== undefined && message.Files !== null && message.Files.length > 0">
                                <span *ngFor="let file of message.Files" class="files my">
                                <a *ngIf="isImage(file.OriginalName);else fileLink" href="api/uploadedfiles/{{file.ServerPathName}}" target="_blank"><img src="api/uploadedfiles/{{file.ServerPathName}}"></a>
                                <ng-template #fileLink>
                                    <a href="api/uploadedfiles/{{file.ServerPathName}}" download="{{file.OriginalName}}"><i class="cloud download icon"></i>{{file.OriginalName}}</a>
                                </ng-template>                                
                            </span>
                            </div>
                        </div>
                    </div>
                    <div class="message" *ngIf="message.OwnerId !== ownerId">
                        <div class="date-him">
                            {{message.Date|amTimeAgo}}
                        </div>
                        <div class="concrete-message him">
                            {{message.Message}}
                            <div *ngIf="message.Files !== undefined && message.Files !== null && message.Files.length > 0">
                                <span *ngFor="let file of message.Files" class="files him">
                                <a *ngIf="isImage(file.OriginalName);else fileLink" href="api/uploadedfiles/{{file.ServerPathName}}" target="_blank"><img src="api/uploadedfiles/{{file.ServerPathName}}"></a>
                                <ng-template #fileLink>
                                    <a href="api/uploadedfiles/{{file.ServerPathName}}" download="{{file.OriginalName}}"><i class="cloud download icon"></i>{{file.OriginalName}}</a>
                                </ng-template>                                
                            </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="no-content no-messages" *ngIf="messages !== undefined && (messages === null || messages.length === 0)">
            No messages
        </div>
        <div *ngIf="messages === undefined || messages === null " class="chat-block-dimmer ui active inverted dimmer" style="z-index: 0;">
            <div class="ui text loader">Loading</div>
        </div>
        <div *ngIf="noMessages && messages !== undefined && messages !== null && messages.length !== 0" class="chat-block-dimmer ui active inverted dimmer" style="z-index: 0;">
            <div class="ui text loader">Loading</div>
        </div>
        <div class="ui form" *ngIf="dialogs !== undefined && dialogs !== null  && messages !== undefined" [ngClass]="{'disabled-div':noMessages}">
            <div class=" field " style="display: flex; align-items: flex-end;">
                <textarea #textArea (keydown)="onChange($event) " (click)="readNotReadedMessages(dialog) " [ngStyle]="{ 'height.px': inputHeight} " class="prompt " type="text " placeholder="Type here... " [(ngModel)]="writtenMessage " style="display:inline ">                        
                </textarea>
                <input class="inputfile" type="file" name="attachfile" id="attachfile" (change)="uploadFile()" multiple="true" #fileInput>
                <label class="ui icon input" for="attachfile">
                    <i class="attach outline link icon"></i>
                </label>
                <div class="ui icon input ">
                    <i class="talk outline link icon " (click)="onWrite() "></i>
                </div>
            </div>
        </div>
    </div>
</div>
<div *ngIf="dialogs===undefined" class="ui active inverted dimmer normal-weighted" style="z-index: 0; ">
    <div class="ui text loader ">Loading</div>
</div>
<ng-template let-context let-modal="modal" #modal>
    <div class="ui content">
        <div *ngIf="dialogToDelete!==ungefined">
            <h4 align="center"> You're going to hide dialog with {{dialogToDelete.ParticipantName}}</h4>
            <div align="center">
                <button class="ui button" (click)="deleteDialog()">
                       <h5>Hide</h5>
                    </button>
                <button class="ui basic button add" (click)="currModal.deny(undefined)"><h5>Cancel</h5></button>
            </div>
        </div>
        <div *ngIf="messageToDelete!==ungefined">
            <h4 align="center"> You're going to delete message {{messageToDelete.Message}}</h4>
            <div align="center">
                <button class="ui button" (click)="deleteMessage()">
                           <h5>Delete</h5>
                        </button>
                <button class="ui basic button add" (click)="currModal.deny(undefined)"><h5>Cancel</h5></button>
            </div>
        </div>
    </div>
</ng-template>