<div class="wrapper">
    <div class="header-wrapper">
        <div id="header">
            <a href='#' class="logo-container">
                <img class="logo" src="/assets/images/unicorn.png" />
            </a>
            <div id="menu">
                <app-menu></app-menu>
            </div>
        </div>
    </div>
    <div class="stub"></div> 
    <div id="content">
        <router-outlet></router-outlet>
    </div>
    <div id="footer">
        <app-footer></app-footer>
    </div>
</div>