<div class="separator-horiz"></div>
<div class="footer-wrapper">
  <div class="footer-container">
    <p>&copy; 2017 Unicorn</p>
    <p>Created with love by BSA students</p>
    <div class="icons-container">
      <a href="mailto:academy@binary-studio.com"><i class="mail icon"></i></a>
      <a href="https://www.facebook.com/BinaryStudioAcademy"><i class="facebook f icon"></i></a>
      <a href="https://vk.com/binary_academy"><i class="vk icon"></i></a>
    </div>
    <button class="ui button feedback-button" (click)="openFeedbackModal()">Leave Feedback</button>
  </div>
</div>

