<div class="footer-wrapper">
  <div class="footer-title">
    <!-- <span>Unicorn</span> -->
  </div>
  <div class="separator-horiz"></div>
  <div class="footer-about">
    <div class="about-item">
       <!-- <app-menu></app-menu>  -->
    </div>
    <div class="about-item">
      <h4>For vendor</h4>
      <p>
        At the same time, if you are vendor, here you can share you skills, 
        be assigned to some companies and provide their services.
      </p>
    </div>
  </div>
  <div class="separator-horiz"></div>
  <div class="footer-bottom">
    <p>Copyright &copy; 2017 Binary Studio Academy</p>
  </div>
</div>

