.footer-wrapper {
    width: auto; 
    max-width: 510px;
    height: 50px;
    margin: 0 auto;
    background-color: white;
}

.separator-margin {
    margin: 20px;
}

.separator-horiz {
    margin: 20px;
    height: 3px;
    background-color: #DEDEDE;
    border-bottom: 2px solid #EFEFEF;
}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto auto;
    width: 100%;
    color: gray;
}

.footer-container p {
    margin: 0;
}

.icons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100px; 
}

.icons-container a {
    text-decoration: none;
    color: gray;
}