.footer-wrapper {
    width: auto;
    height: auto;
    background-color: lightgray;
}

.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background-color: #E5E5E5;
    font-size: 18px;
    -webkit-box-shadow: 0px 1px 1px 1px rgba(0,0,0,0.25);
    -moz-box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.25);

}

.footer-title span {
    color: #FF647A;
    margin: 0 10px;
    font-weight: bold;
}

.footer-title p {
    color: gray;
}

.footer-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 760px; 
    max-width: 100%;
    margin: 30px auto;
    background-color: lightgray;
    color: #5B5B5B;
    font-size: 16px;

}

.separator {
    width: 2px;
    background-color: gray;
    border-right: 1px solid #E5E5E5;
}

.about-item {
    width: 40%; 
    margin: 20px 5px;
}

.about-item h4 {
    text-align: center;
    text-transform: uppercase;
}

.about-item p {
    text-align: justify;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 50px; 
    color: white;
    background-color: gray;
}