.footer-wrapper {
    width: auto; 
    max-width: 910px;
    height: auto;
    margin: 0 auto;
    /* padding: 50px 0 50px 0; */
    background-color: white;
}

.footer-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    font-size: 28px;
}

.footer-title span {
    color: #FF647A;
    margin: 0 10px;
    font-weight: bold;
}

.footer-title p {
    color: gray;
}

.footer-about {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 760px; 
    max-width: 100%;
    margin: 80px auto;
    color: gray;
    font-size: 16px;

}

.separator-horiz {
    height: 2px;
    background-color: #B5B5B5;
    border-bottom: 1px solid #E5E5E5;
}

.separator-margin {
    margin: 50px 20px;
}

.separator-horiz-light {
    height: 3px;
    border-bottom: 2px solid #E5E5E5;
}

.separator-vert {
    width: 2px;
    background-color: #B5B5B5;
    border-bottom: 1px solid #E5E5E5;   
}

.about-item {
    width: 40%; 
    margin: 40px 10px;
}

.about-item h4 {
    text-align: center;
    text-transform: uppercase;
}

.about-item p {
    text-align: justify;
}

.footer-bottom {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%; 
    height: 50px; 
    color: gray;
}