<div class="footer-wrapper">
  <div class="footer-title">
    <span>Unicorn&trade;</span>
    <p>allows to connect customers and vendors</p>
  </div>
  <div class="footer-about">
    <div class="about-item">
      <h2>For customer</h2>
      <p>
        If you have any problem in your house or he need 
        to do some work you can find vendors here and delegate them all tasks. 
      </p>
    </div>
    <div class="about-item">
      <h2>For vendor</h2>
      <p>
        At the same time, if you are vendor, here you can share you skills, 
        be assigned to some companies and provide their services.
      </p>
    </div>
  </div>
  <div class="footer-bottom">
    <p>&copy;Copyright all rights reserved</p>
  </div>
</div>

