<div class="ui comments content">
    <div class="comment">
        <a class="avatar">
            <img src="{{modal.context.review.Avatar}}">
        </a>
        <div class="content">
            <a class="author">{{modal.context.review.From}}</a>
            <div class="metadata">
                <span class="date">{{modal.context.review.Date | date: 'dd/MM/yyyy'}}</span>
            </div>
            <div class="text">
                {{modal.context.review.Description}}
            </div>
        </div>
    </div>
</div>
<!-- <div class="content" id="main">
    <div class="ui grid">
        <div class="row">
            <div class="sixteen wide column">
                <div class="row">
                    <div class="ui grid">
                        <div class="row">
                            <div class="three wide column">
                                <div class="row ava-img">
                                    <img class="ui tiny circular image middle aligned" src="{{modal.context.review.Avatar}}">
                                </div>
                            </div>
                            <div class="ten wide column">
                                <p class="from">{{modal.context.review.From}}</p>
                                <p class="review-text">{{modal.context.review.Description}}</p>
                                <p class="task"><strong>Review for work: </strong>{{modal.context.review.WorkName}}</p>
                            </div>
                            <div class="three wide column">
                                <span class="date">{{modal.context.review.Date|date:fullDate}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->