@import "../../../../global-style-variables.sass";

img
    object-fit: cover!important;

div
    font-family: 'Verdana', 'Century Gothic', 'Calibri', 'Trebuchet MS', sans-serif!important;
    
.ui.form
 margin: 10px;
.ui.basic.button
   box-shadow: 0 0 0 1px $primary_color;
   color:  $primary_color;
   background: none;
   padding: 10px;
   margin-top: 23px;
   width: 8em;
   margin-right: 0px;
   align-self: flex-end;
   min-height: 2.8em;
.flex-container
    display: flex;
    flex-direction: column;
.ui.divider
   margin: 7px!important;
.align-button
    align-self: center;

.ui.basic.button
    margin: 5px;
    margin-bottom: 15px;

.container
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: .5em 1em 1em 1em;

.container > div    
    margin: 10px;
    
.main-information
    flex-basis: 50%;

.map
    flex-basis: 50%;
    height: 340px

.ui.divider
    margin: 7px 0;

.ui.form.no-left-right-margin
  margin-left: 0!important
  margin-right: 0!important
  margin-top: 0!important

.ui.form > .field > label
  padding: 0
  margin-bottom: 4px
  margin-left: 0
  color: #4d4d4d
  font-weight: 600