@import "../../../../global-style-variables.sass";

.ui.basic.button
   box-shadow: 0 0 0 1px $primary_color;
   color:  $primary_color;
   background: none;
   padding: 10px;
   margin-top: 23px;
   width: 100px;
   margin-right: 0px;
   align-self: flex-end;

.container
    display: flex;
    justify-content: space-between;

.container > div
    flex-basis: 50%;
    margin: 10px;

.ui.fluid.icon.input
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

.ui.fluid.icon.input>div>label
    display: block;
    font-weight: bold;
    margin: 10px 0;


