<link rel="stylesheet" href="https://unpkg.com/semantic-ui-calendar/dist/calendar.min.css">

<div class="container" *ngIf="company !== undefined">
    <div class="ui form">
        <div class="field">
            <label>Company name</label>
            <input type="text" [(ngModel)]="company.Name">
        </div>
        <div class="field">
            <label>Description</label>
            <textarea [(ngModel)]="company.Description"></textarea>
        </div>
        <div class="field">
            <label>Foundation date</label>
            <div class="ui left icon input">
                <i class="calendar icon"></i>
                <input suiDatepicker [(ngModel)]="foundation-date" name="foundation-date" pickerMode="date" [placeholder]="company.FoundationDate | date:'shortDate'">
            </div>
        </div>
        <div>
            <label>CEO</label>
            <input type="text" [(ngModel)]="company.Director">
        </div>
    </div>
    <div>
        <button class="ui basic button" (click)="save()" [ngClass]="{'loading':isLoaded}">
            <p *ngIf="!isLoaded" style="color:#FF647A;">Save</p></button>
    </div>
</div>
<div *ngIf="company === undefined" class="ui active inverted dimmer" style="background-color: rgba(255,255,255,.85)">
    <div class="ui text loader">Loading</div>
</div>