<div class="main-content">
    <div *ngIf="user!== undefined" class="ui grid container remove-margin-top-bottom">
        <div class="row remove-padding-top" *ngIf="user !== undefined">
            <div class="sixteen wide column container">
                <div class="user-header" id="user-header" [style.backgroundImage]="backgroundUrl">

                    <div class="ui small circular image" *ngIf="user!== undefined">
                        <div class="avatarMain">
                            <img id="user-avatar" src="{{getImage()}}" />
                        </div>
                    </div>
                    <div class="user-title" *ngIf="user!== undefined">
                        <h3>{{user.Name}} {{user.SurName}}</h3>
                    </div>

                </div>
            </div>
        </div>
        <div class="sixteen wide column container">
            <sui-tabset id="tabs">
                <div class="ui pointing secondary menu">
                    <a routerLink="/user/{{user.Id}}" [queryParams]="{tab: 'info'}" class="item" suiTabHeader="1">INFO</a>
                    <!-- <a routerLink="/user/{{user.Id}}" [queryParams]="{tab: 'reviews'}" class="item" suiTabHeader="2">REVIEWS</a> -->
                </div>
                <div class="row">
                    <div class="ui grid container">
                        <div class="row">
                            <div class="sixteen wide container column">
                                <div class="ui segment" suiTabContent="1">
                                    <app-user-main-info [user]="user"></app-user-main-info>
                                </div>
                            </div>
                            <div class="sixteen wide container column">
                                <div class="ui segment" suiTabContent="2" id="tab2">
                                    <app-user-main-reviews [user]="user"></app-user-main-reviews>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </sui-tabset>
        </div>

        <div *ngIf="user === undefined" class="ui active inverted dimmer" style="z-index: 0;">
            <div class="ui text loader">Loading</div>
        </div>
    </div>
    <div *ngIf="user === undefined" class="ui active inverted dimmer" style="z-index: 0;">
        <div class="ui text loader">Loading</div>
    </div>
</div>